src/main/resources/xsd/schemas.ladok.se-extintegration.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:base="http://schemas.ladok.se" xmlns:dap="http://schemas.ladok.se/dap" xmlns:ei="http://schemas.ladok.se/extintegration" xmlns:events="http://schemas.ladok.se/events" elementFormDefault="qualified" targetNamespace="http://schemas.ladok.se/extintegration" version="1.0">

  <xs:import namespace="http://schemas.ladok.se/events" schemaLocation="schemas.ladok.se-events.xsd"/>

  <xs:import namespace="http://schemas.ladok.se" schemaLocation="schemas.ladok.se.xsd"/>

  <xs:import namespace="http://schemas.ladok.se/dap" schemaLocation="schemas.ladok.se-dap.xsd"/>

  <xs:element name="AntagningBaseEvent" type="ei:AntagningBaseEvent"/>

  <xs:element name="AuditEntry" type="ei:AuditEntry"/>

  <xs:element name="AuditEntryList" type="ei:AuditEntryList"/>

  <xs:element name="Behorighet" type="ei:Behorighet"/>

  <xs:element name="ExternAntagningEvent" type="ei:ExternAntagningEvent"/>

  <xs:element name="ExternUppdateradeBehorighetsvillkorEvent" type="ei:ExternUppdateradeBehorighetsvillkorEvent"/>

  <xs:element name="ExterntAliasEvent" type="ei:ExterntAliasEvent"/>

  <xs:element name="ExterntAterbudEvent" type="ei:ExterntAterbudEvent"/>

  <xs:element name="LarosateskodPerExterntSystem" type="ei:LarosateskodPerExterntSystem"/>

  <xs:element name="LarosateskodPerExterntSystemLista" type="ei:LarosateskodPerExterntSystemLista"/>

  <xs:element name="NyADefinitionAvAntagningsomgangEvent" type="ei:NyADefinitionAvAntagningsomgangEvent"/>

  <xs:element name="NyStudentEvent" type="ei:NyStudentEvent"/>

  <xs:element name="SCBRapport" type="ei:SCBRapport"/>

  <xs:element name="SCBRapportLista" type="ei:SCBRapportLista"/>

  <xs:element name="SokresultatStudentinformationRepresentation" type="ei:SokresultatStudentinformationRepresentation"/>

  <xs:element name="Synkroniseringsinformation" type="ei:Synkroniseringsinformation"/>

  <xs:element name="Synkroniseringsloggrad" type="ei:Synkroniseringsloggrad"/>

  <xs:element name="UnderlagForAnmalanInomProgramAbstrakt" type="ei:UnderlagForAnmalanInomProgramAbstrakt"/>

  <xs:element name="UnderlagForAnmalanInomProgramBestallning" type="ei:UnderlagForAnmalanInomProgramBestallning"/>

  <xs:element name="UnderlagForAnmalanInomProgramForStudent" type="ei:UnderlagForAnmalanInomProgramForStudent"/>

  <xs:element name="Urvalsgrupp" type="ei:Urvalsgrupp"/>

  <xs:element name="UtannonseringLista" type="ei:UtannonseringLista"/>

  <xs:element name="UtannonseringRepresentation" type="ei:UtannonseringRepresentation"/>

  <xs:element name="Utbildningstillfalle" type="ei:Utbildningstillfalle"/>

  <xs:element name="Villkor" type="ei:Villkor"/>

  <xs:element name="VillkorsmeddelandeEvent" type="ei:VillkorsmeddelandeEvent"/>

  <xs:complexType name="NyADefinitionAvAntagningsomgangEvent">
    <xs:complexContent>
      <xs:extension base="events:BaseEvent">
        <xs:sequence>
          <xs:element name="EngelskBenamning" type="xs:string"/>
          <xs:element name="HanterarInresandeUtbyte" type="xs:boolean"/>
          <xs:element name="Kod" type="xs:string"/>
          <xs:element name="SistaAnmalningsdag" type="xs:date"/>
          <xs:element name="Studieavgiftsbelagd" type="xs:boolean"/>
          <xs:element name="SvenskBenamning" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UtannonseringLista">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Utannonsering" type="ei:UtannonseringRepresentation"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UtannonseringRepresentation">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element name="UtbildningstillfalleUID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ExterntAterbudEvent">
    <xs:complexContent>
      <xs:extension base="ei:AntagningBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType abstract="true" name="AntagningBaseEvent">
    <xs:complexContent>
      <xs:extension base="events:BaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="Antagningsomgangskod" type="xs:string"/>
          <xs:element name="TillfallesantagningUID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SokresultatStudentinformationRepresentation">
    <xs:complexContent>
      <xs:extension base="base:Sokresultat">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Resultat" type="ei:UnderlagForAnmalanInomProgramForStudent"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UnderlagForAnmalanInomProgramForStudent">
    <xs:complexContent>
      <xs:extension base="ei:UnderlagForAnmalanInomProgramAbstrakt">
        <xs:sequence>
          <xs:element minOccurs="0" name="ExternStudentUid" type="xs:string"/>
          <xs:element minOccurs="0" name="Finanseringsform" type="xs:int"/>
          <xs:element minOccurs="0" name="ForstaUndervisningsdatum" type="xs:date"/>
          <xs:element minOccurs="0" name="InriktningstillfalletsForstaUndervisningsdatum" type="xs:date"/>
          <xs:element minOccurs="0" name="InriktningstillfalletsSistaUndervisningsdatum" type="xs:date"/>
          <xs:element minOccurs="0" name="SistaUndervisningsdatum" type="xs:date"/>
          <xs:element minOccurs="0" name="Studielokalisering" type="xs:int"/>
          <xs:element minOccurs="0" name="Studietakt" type="xs:int"/>
          <xs:element minOccurs="0" name="Undervisningsform" type="xs:int"/>
          <xs:element minOccurs="0" name="Undervisningstid" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType abstract="true" name="UnderlagForAnmalanInomProgramAbstrakt">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="Inriktningskod" type="xs:string"/>
          <xs:element minOccurs="0" name="InriktningstillfalleUID" type="xs:string"/>
          <xs:element minOccurs="0" name="Inriktningstillfalleskod" type="xs:string"/>
          <xs:element minOccurs="0" name="Programkod" type="xs:string"/>
          <xs:element minOccurs="0" name="ProgramtillfalleUID" type="xs:string"/>
          <xs:element minOccurs="0" name="Programtillfalleskod" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Villkor">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element name="VillkorsmeddelandeUID" type="xs:string"/>
          <xs:element name="Villkorstyp" type="ei:Villkorstyp"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ExterntAliasEvent">
    <xs:complexContent>
      <xs:extension base="events:BaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="Efternamn" type="xs:string"/>
          <xs:element minOccurs="0" name="ExterntStudentUID" type="xs:string"/>
          <xs:element minOccurs="0" name="Fornamn" type="xs:string"/>
          <xs:element minOccurs="0" name="Handelsetyp" type="base:Handelsetyp"/>
          <xs:element minOccurs="0" name="Personnummer" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UnderlagForAnmalanInomProgramBestallning">
    <xs:complexContent>
      <xs:extension base="ei:UnderlagForAnmalanInomProgramAbstrakt">
        <xs:sequence>
          <xs:element minOccurs="0" name="Antagningsomgang" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ExternaStudentUids" type="xs:string"/>
          <xs:element minOccurs="0" name="Takvarde" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="NyStudentEvent">
    <xs:complexContent>
      <xs:extension base="events:BaseEvent">
        <xs:sequence>
          <xs:element name="ExterntStudentUID" type="xs:string"/>
          <xs:element name="StudentUID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Utbildningstillfalle">
    <xs:sequence>
      <xs:element minOccurs="0" name="Antagningsomgang" type="xs:string"/>
      <xs:element minOccurs="0" name="Installt" type="xs:boolean"/>
      <xs:element minOccurs="0" name="Kod" type="xs:string"/>
      <xs:element minOccurs="0" name="Termin" type="xs:string"/>
      <xs:element minOccurs="0" name="Uid" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AuditEntry">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="Aktor" type="xs:string"/>
          <xs:element minOccurs="0" name="Data" type="xs:string"/>
          <xs:element minOccurs="0" name="Format" type="xs:string"/>
          <xs:element minOccurs="0" name="Kanal" type="xs:string"/>
          <xs:element minOccurs="0" name="Kontext" type="xs:string"/>
          <xs:element minOccurs="0" name="Objektstyp" type="xs:string"/>
          <xs:element minOccurs="0" name="Status" type="xs:string"/>
          <xs:element minOccurs="0" name="Tidpunkt" type="xs:dateTime"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Synkroniseringsloggrad">
    <xs:sequence>
      <xs:element minOccurs="0" name="Text" type="xs:string"/>
      <xs:element minOccurs="0" name="Tidpunkt" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="LarosateskodPerExterntSystemLista">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="Lista" type="ei:LarosateskodPerExterntSystem"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="LarosateskodPerExterntSystem">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element minOccurs="0" name="AvserLarosateId" type="xs:int"/>
          <xs:element minOccurs="0" name="ExterntSystem" type="xs:string"/>
          <xs:element minOccurs="0" name="Kod" type="xs:string"/>
          <xs:element minOccurs="0" name="SistaDatum" type="xs:date"/>
          <xs:element minOccurs="0" name="StartDatum" type="xs:date"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ExternUppdateradeBehorighetsvillkorEvent">
    <xs:complexContent>
      <xs:extension base="ei:AntagningBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" ref="ei:Behorighet"/>
          <xs:element minOccurs="0" name="VillkorLista">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="ei:Villkor"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Behorighet">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="GrundlaggandeBehorighet" type="ei:Behorighetsstatus"/>
          <xs:element minOccurs="0" name="SarskildBehorighet" type="ei:Behorighetsstatus"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ExternAntagningEvent">
    <xs:complexContent>
      <xs:extension base="ei:AntagningBaseEvent">
        <xs:sequence>
          <xs:element name="AnmalningsavgiftBetald" type="xs:boolean"/>
          <xs:element name="AvserInresandeUtbyte" type="xs:boolean"/>
          <xs:element minOccurs="0" ref="ei:Behorighet"/>
          <xs:element minOccurs="0" name="InomInriktningskod" type="xs:string"/>
          <xs:element minOccurs="0" name="InomProgramkod" type="xs:string"/>
          <xs:element name="StudentUID" type="xs:string"/>
          <xs:element minOccurs="0" ref="ei:Urvalsgrupp"/>
          <xs:element name="UtbildningstillfalleUID" type="xs:string"/>
          <xs:element minOccurs="0" name="VillkorLista">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="ei:Villkor"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Urvalsgrupp">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element name="Kod" type="xs:string"/>
          <xs:element name="SvenskBenamning" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SCBRapport">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element name="Rapporttyp" type="base:SCBRapporttyp"/>
          <xs:element name="Slutdatum" type="xs:date"/>
          <xs:element name="Startdatum" type="xs:date"/>
          <xs:element name="Uttagsdatum" type="xs:date"/>
          <xs:element minOccurs="0" name="OverfordTillSCBDatum" type="xs:date"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Synkroniseringsinformation">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="Loggrader">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="Loggrad" type="ei:Synkroniseringsloggrad"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="Resultat" type="xs:string"/>
          <xs:element minOccurs="0" name="Typ" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="VillkorsmeddelandeEvent">
    <xs:complexContent>
      <xs:extension base="events:BaseEvent">
        <xs:sequence>
          <xs:element name="Meddelande" type="base:Benamning"/>
          <xs:element name="VillkorsmeddelandeUID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AuditEntryList">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ei:AuditEntry"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SCBRapportLista">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ei:SCBRapport"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="Villkorstyp">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OVRIGT_VILLKOR"/>
      <xs:enumeration value="SARSKILD_BEHORIGHET"/>
      <xs:enumeration value="STUDIEAVGIFT"/>
      <xs:enumeration value="GRUNDLAGGANDE_BEHORIGHET_AVANCERAD_NIVA"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Behorighetsstatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OBEHANDLAD"/>
      <xs:enumeration value="OBEHORIG"/>
      <xs:enumeration value="BEHORIG"/>
      <xs:enumeration value="VILLKORAD"/>
      <xs:enumeration value="REELL_KOMPETENS"/>
      <xs:enumeration value="UNDANTAG"/>
      <xs:enumeration value="KRAV_FINNS_EJ"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
