src/main/resources/xsd/schemas.ladok.se-kataloginformation.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:av="http://schemas.ladok.se/avisering"
        xmlns:base="http://schemas.ladok.se"
        xmlns:dap="http://schemas.ladok.se/dap"
        xmlns:ki="http://schemas.ladok.se/kataloginformation" elementFormDefault="qualified" targetNamespace="http://schemas.ladok.se/kataloginformation" version="1.0">
  <xs:import namespace="http://schemas.ladok.se" schemaLocation="schemas.ladok.se.xsd"/>
  <xs:import namespace="http://schemas.ladok.se/dap" schemaLocation="schemas.ladok.se-dap.xsd"/>
  <xs:import namespace="http://schemas.ladok.se/avisering" schemaLocation="schemas.ladok.se-av.xsd"/>
  <xs:element name="AktivitetSomKraverAutentisering" type="ki:AktivitetSomKraverAutentisering"/>
  <xs:element name="AktiviteterSomKraverAutentisering" type="ki:AktiviteterSomKraverAutentisering"/>
  <xs:element name="Aktivitetstillfallestyp" type="ki:Aktivitetstillfallestyp"/>
  <xs:element name="Aktivitetstillfallestyper" type="ki:Aktivitetstillfallestyper"/>
  <xs:element name="AlternativaAnvandareLista" type="ki:AlternativaAnvandareLista"/>
  <xs:element name="Amnesgrupp" type="ki:Amnesgrupp"/>
  <xs:element name="Amnesgrupper" type="ki:Amnesgrupper"/>
  <xs:element name="Amnesklass" type="ki:Amnesklass"/>
  <xs:element name="Amnesklasser" type="ki:Amnesklasser"/>
  <xs:element name="Amnesord" type="ki:Amnesord"/>
  <xs:element name="AmnesordLista" type="ki:AmnesordLista"/>
  <xs:element name="Antagningsomgang" type="ki:Antagningsomgang"/>
  <xs:element name="Antagningsomgangar" type="ki:Antagningsomgangar"/>
  <xs:element name="AnvandarHistorik" type="ki:AnvandarHistorik"/>
  <xs:element name="AnvandarHistorikLista" type="ki:AnvandarHistorikLista"/>
  <xs:element name="Anvandarbehorighet" type="ki:Anvandarbehorighet"/>
  <xs:element name="AnvandarbehorighetEnkel" type="ki:AnvandarbehorighetEnkel"/>
  <xs:element name="AnvandarbehorighetLista" type="ki:AnvandarbehorighetLista"/>
  <xs:element name="AnvandarbehorighetsstatusI18n" type="ki:AnvandarbehorighetsstatusI18n"/>
  <xs:element name="AnvandarbehorighetsstatusLista" type="ki:AnvandarbehorighetsstatusLista"/>
  <xs:element name="Anvandare" type="ki:Anvandare"/>
  <xs:element name="AnvandareLista" type="ki:AnvandareLista"/>
  <xs:element name="AnvandareRESTRef" type="ki:AnvandareRESTRef"/>
  <xs:element name="Anvandarinformation" type="ki:Anvandarinformation"/>
  <xs:element name="Arendekorg" type="ki:Arendekorg"/>
  <xs:element name="ArendekorgKoppladAnvandare" type="ki:ArendekorgKoppladAnvandare"/>
  <xs:element name="ArendekorgKoppladeAnvandare" type="ki:ArendekorgKoppladeAnvandare"/>
  <xs:element name="Arendekorgar" type="ki:Arendekorgar"/>
  <xs:element name="Autentiseringsinformation" type="ki:Autentiseringsinformation"/>
  <xs:element name="Autentiseringstyp" type="ki:Autentiseringstyp"/>
  <xs:element name="Autentiseringsunderlag" type="ki:Autentiseringsunderlag"/>
  <xs:element name="Behorighetsinformation" type="ki:Behorighetsinformation"/>
  <xs:element name="Behorighetsinformationer" type="ki:Behorighetsinformationer"/>
  <xs:element name="Behorighetsprofil" type="ki:Behorighetsprofil"/>
  <xs:element name="BehorighetsprofilLista" type="ki:BehorighetsprofilLista"/>
  <xs:element name="Betygsgrad" type="ki:Betygsgrad"/>
  <xs:element name="Betygsskala" type="ki:Betygsskala"/>
  <xs:element name="Betygsskalor" type="ki:Betygsskalor"/>
  <xs:element name="Beviskategori" type="ki:Beviskategori"/>
  <xs:element name="BeviskategoriLista" type="ki:BeviskategoriLista"/>
  <xs:element name="Dataavgransning" type="ki:Dataavgransning"/>
  <xs:element name="Dataavgransningar" type="ki:Dataavgransningar"/>
  <xs:element name="DatadimensionLista" type="ki:DatadimensionLista"/>
  <xs:element name="Datadimensionsvarde" type="ki:Datadimensionsvarde"/>
  <xs:element name="DatadimensionvardeLista" type="ki:DatadimensionvardeLista"/>
  <xs:element name="DefinitionAvAntagningsomgang" type="ki:DefinitionAvAngtagningsomgang"/>
  <xs:element name="DefintionerAvAntagningsomgang" type="ki:DefinitionerAvAntagningsomgang"/>
  <xs:element name="Dokumentkonfiguration" type="ki:Dokumentkonfiguration"/>
  <xs:element name="Dokumentkonfigurationer" type="ki:Dokumentkonfigurationer"/>
  <xs:element name="Dokumentmall" type="ki:Dokumentmall"/>
  <xs:element name="Dokumentmallar" type="ki:Dokumentmallar"/>
  <xs:element name="Dokumentmallparameter" type="ki:Dokumentmallparameter"/>
  <xs:element name="Dokumenttyp" type="ki:Dokumenttyp"/>
  <xs:element name="Dokumenttyper" type="ki:Dokumenttyper"/>
  <xs:element name="Enhet" type="ki:Enhet"/>
  <xs:element name="Enheter" type="ki:Enheter"/>
  <xs:element name="EnumDummy" type="ki:EnumDummy"/>
  <xs:element name="ExternPart" type="ki:ExternPart"/>
  <xs:element name="ExternaParter" type="ki:ExternaParter"/>
  <xs:element name="Finansieringsform" type="ki:Finansieringsform"/>
  <xs:element name="Finansieringsformer" type="ki:Finansieringsformer"/>
  <xs:element name="Finansieringsformsgrupp" type="ki:Finansieringsformsgrupp"/>
  <xs:element name="Finansieringsformsgrupper" type="ki:Finansieringsformsgrupper"/>
  <xs:element name="Fordjupningsniva" type="ki:Fordjupningsniva"/>
  <xs:element name="Fordjupningsnivaer" type="ki:Fordjupningsnivaer"/>
  <xs:element name="Forkunskapsniva" type="ki:Forkunskapsniva"/>
  <xs:element name="Forkunskapsnivaer" type="ki:Forkunskapsnivaer"/>
  <xs:element name="Huvudomradesgrupp" type="ki:Huvudomradesgrupp"/>
  <xs:element name="HuvudomradesgruppLista" type="ki:HuvudomradesgruppLista"/>
  <xs:element name="I18n" type="ki:I18n"/>
  <xs:element name="I18nLista" type="ki:I18nLista"/>
  <xs:element name="InganendePart" type="ki:InganendePart"/>
  <xs:element name="InloggningRepresentation" type="ki:InloggningRepresentation"/>
  <xs:element name="Kommun" type="ki:Kommun"/>
  <xs:element name="Kommuner" type="ki:Kommuner"/>
  <xs:element name="KonfigurationAvAterautentisering" type="ki:KonfigurationAvAterautentisering"/>
  <xs:element name="KonfigurationAvAutentisering" type="ki:KonfigurationAvAutentisering"/>
  <xs:element name="KonfigurationerAvAterautentisering" type="ki:KonfigurationerAvAterautentisering"/>
  <xs:element name="KonfigurationerAvAutentisering" type="ki:KonfigurationerAvAutentisering"/>
  <xs:element name="Konfigurationsobjekt" type="ki:Konfigurationsobjekt"/>
  <xs:element name="KravPaTidigareStudier" type="ki:KravPaTidigareStudier"/>
  <xs:element name="KravPaTidigareStudierLista" type="ki:KravPaTidigareStudierLista"/>
  <xs:element name="LadokOTP" type="ki:LadokOTP"/>
  <xs:element name="Lan" type="ki:Lan"/>
  <xs:element name="LanLista" type="ki:LanLista"/>
  <xs:element name="Land" type="ki:Land"/>
  <xs:element name="Lander" type="ki:Lander"/>
  <xs:element name="Larosate" type="ki:Larosate"/>
  <xs:element name="Larosaten" type="ki:Larosaten"/>
  <xs:element name="Larosatesinformation" type="ki:Larosatesinformation"/>
  <xs:element name="LarosatesinformationAttribut" type="ki:LarosatesinformationAttribut"/>
  <xs:element name="LarosatesinformationLista" type="ki:LarosatesinformationLista"/>
  <xs:element name="LokalText" type="ki:LokalText"/>
  <xs:element name="LokalVardelista" type="ki:LokalVardelista"/>
  <xs:element name="LokalVardelistaLista" type="ki:LokalVardelistaLista"/>
  <xs:element name="LokalVardelistavarde" type="ki:LokalVardelistavarde"/>
  <xs:element name="LokalaTexter" type="ki:LokalaTexter"/>
  <xs:element name="Markningsnyckel" type="ki:Markningsnyckel"/>
  <xs:element name="Markningsnycklar" type="ki:Markningsnycklar"/>
  <xs:element name="Markningsvarde" type="ki:Markningsvarde"/>
  <xs:element name="NationellExamensgrupp" type="ki:NationellExamensgrupp"/>
  <xs:element name="NationellMallForPeriod" type="ki:NationellMallForPeriod"/>
  <xs:element name="NationellaExamensgrupper" type="ki:NationellaExamensgrupper"/>
  <xs:element name="NationellaForskningsamnen" type="ki:NationellaForskningsamnen"/>
  <xs:element name="NationellaMallarForPeriod" type="ki:NationellaMallarForPeriod"/>
  <xs:element name="NationellaUndervisningsamnen" type="ki:NationellaUndervisningsamnen"/>
  <xs:element name="NationelltForskningsamne" type="ki:NationelltForskningsamne"/>
  <xs:element name="NationelltUndervisningsamne" type="ki:NationelltUndervisningsamne"/>
  <xs:element name="NivaInomStudieordning" type="ki:NivaInomStudieordning"/>
  <xs:element name="NivaerInomStudieordning" type="ki:NivaerInomStudieordning"/>
  <xs:element name="NyLinjeorganisationsenhet" type="ki:NyLinjeorganisationsenhet"/>
  <xs:element name="Omradesbehorighet" type="ki:Omradesbehorighet"/>
  <xs:element name="Omradesbehorigheter" type="ki:Omradesbehorigheter"/>
  <xs:element name="Organisation" type="ki:Organisation"/>
  <xs:element name="OrganisationLista" type="ki:OrganisationLista"/>
  <xs:element name="Organisationsenhetstyp" type="ki:Organisationsenhetstyp"/>
  <xs:element name="OrganisationsenhetstypLista" type="ki:OrganisationsenhetstypLista"/>
  <xs:element name="Organisationskoppling" type="ki:Organisationskoppling"/>
  <xs:element name="OrganisationskopplingLista" type="ki:OrganisationskopplingLista"/>
  <xs:element name="Organisationskopplingstyp" type="ki:Organisationskopplingstyp"/>
  <xs:element name="Organisationskopplingstyper" type="ki:Organisationskopplingstyper"/>
  <xs:element name="OrsakAvstangning" type="ki:OrsakAvstangning"/>
  <xs:element name="OrsakEjAvgiftsskyldig" type="ki:OrsakEjAvgiftsskyldig"/>
  <xs:element name="OrsakerAvstangning" type="ki:OrsakerAvstangning"/>
  <xs:element name="OrsakerEjAvgiftsskyldig" type="ki:OrsakerEjAvgiftsskyldig"/>
  <xs:element name="Period" type="ki:Period"/>
  <xs:element name="PeriodUtifranNationellMallForPeriod" type="ki:PeriodUtifranNationellMallForPeriod"/>
  <xs:element name="Perioder" type="ki:Perioder"/>
  <xs:element name="Periodtyp" type="ki:Periodtyp"/>
  <xs:element name="PeriodtypLista" type="ki:PeriodtypLista"/>
  <xs:element name="Planeringsomgang" type="ki:Planeringsomgang"/>
  <xs:element name="Planeringsomgangar" type="ki:Planeringsomgangar"/>
  <xs:element name="Postadress" type="ki:Postadress"/>
  <xs:element name="Praktiktyp" type="ki:Praktiktyp"/>
  <xs:element name="Praktiktyper" type="ki:Praktiktyper"/>
  <xs:element name="Processaktor" type="ki:Processaktor"/>
  <xs:element name="Processaktorer" type="ki:Processaktorer"/>
  <xs:element name="Regelvarde" type="ki:Regelvarde"/>
  <xs:element name="RegelverkForAvgransningMotInformationskategori" type="ki:RegelverkForAvgransningMotInformationskategori"/>
  <xs:element name="RegelverkForUtbildningstyp" type="ki:RegelverkForUtbildningstyp"/>
  <xs:element name="SakerhetsnivaForAutentisering" type="ki:SakerhetsnivaForAutentisering"/>
  <xs:element name="SakerhetsnivaerForAutentisering" type="ki:SakerhetsnivaerForAutentisering"/>
  <xs:element name="SokresultatAnvBehorighetKataloginformation" type="ki:SokresultatAnvBehorighetKataloginformation"/>
  <xs:element name="SokresultatAnvandareKataloginformation" type="ki:SokresultatAnvandareKataloginformation"/>
  <xs:element name="SokresultatOrganisationKataloginformation" type="ki:SokresultatOrganisationKataloginformation"/>
  <xs:element name="Studiefinansiering" type="ki:Studiefinansiering"/>
  <xs:element name="Studiefinansieringar" type="ki:Studiefinansieringar"/>
  <xs:element name="Studielokalisering" type="ki:Studielokalisering"/>
  <xs:element name="Studielokaliseringar" type="ki:Studielokaliseringar"/>
  <xs:element name="Studieordning" type="ki:Studieordning"/>
  <xs:element name="Studieordningar" type="ki:Studieordningar"/>
  <xs:element name="Studietakt" type="ki:Studietakt"/>
  <xs:element name="Studietakter" type="ki:Studietakter"/>
  <xs:element name="SuccessivFordjupning" type="ki:SuccessivFordjupning"/>
  <xs:element name="SuccessivaFordjupningar" type="ki:SuccessivaFordjupningar"/>
  <xs:element name="SvenskOrt" type="ki:SvenskOrt"/>
  <xs:element name="SvenskaOrter" type="ki:SvenskaOrter"/>
  <xs:element name="Systemaktivitet" type="ki:Systemaktivitet"/>
  <xs:element name="SystemaktivitetLista" type="ki:SystemaktivitetLista"/>
  <xs:element name="Tilltradesniva" type="ki:Tilltradesniva"/>
  <xs:element name="Tilltradesnivaer" type="ki:Tilltradesnivaer"/>
  <xs:element name="Tjanstekonfiguration" type="ki:Tjanstekonfiguration"/>
  <xs:element name="TypAvExternPart" type="ki:TypAvExternPart"/>
  <xs:element name="TyperAvExternPart" type="ki:TyperAvExternPart"/>
  <xs:element name="Undervisningsform" type="ki:Undervisningsform"/>
  <xs:element name="Undervisningsformer" type="ki:Undervisningsformer"/>
  <xs:element name="Undervisningssprak" type="ki:Undervisningssprak"/>
  <xs:element name="UndervisningssprakLista" type="ki:UndervisningssprakLista"/>
  <xs:element name="Undervisningstid" type="ki:Undervisningstid"/>
  <xs:element name="Undervisningstider" type="ki:Undervisningstider"/>
  <xs:element name="Urvalsinformation" type="ki:Urvalsinformation"/>
  <xs:element name="Urvalsinformationer" type="ki:Urvalsinformationer"/>
  <xs:element name="Utbildningsform" type="ki:Utbildningsform"/>
  <xs:element name="Utbildningsformer" type="ki:Utbildningsformer"/>
  <xs:element name="Utbildningsomrade" type="ki:Utbildningsomrade"/>
  <xs:element name="Utbildningsomraden" type="ki:Utbildningsomraden"/>
  <xs:element name="Utbildningsregel" type="ki:Utbildningsregel"/>
  <xs:element name="Utbildningsregler" type="ki:Utbildningsregler"/>
  <xs:element name="Utbildningssamarbete" type="ki:Utbildningssamarbete"/>
  <xs:element name="Utbildningssamarbeten" type="ki:Utbildningssamarbeten"/>
  <xs:element name="Utbildningssatsning" type="ki:Utbildningssatsning"/>
  <xs:element name="UtbildningssatsningLista" type="ki:UtbildningssatsningLista"/>
  <xs:element name="Utbildningstyp" type="ki:Utbildningstyp"/>
  <xs:element name="Utbildningstyper" type="ki:Utbildningstyper"/>
  <xs:element name="Utbytesprogram" type="ki:Utbytesprogram"/>
  <xs:element name="UtbytesprogramLista" type="ki:UtbytesprogramLista"/>
  <xs:element name="UtlandskOrt" type="ki:UtlandskOrt"/>
  <xs:element name="UtlandskaOrter" type="ki:UtlandskaOrter"/>
  <xs:element name="Webblank" type="ki:Webblank"/>
  <xs:element name="XsltMallar" type="ki:XsltMallar"/>
  <xs:complexType name="AlternativaAnvandareLista">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[En lista av alternativa användare, dvs användare som inloggad användare kan byta till]]>
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="AlternativaLarosaten" type="ki:Larosate"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Anvandare"/>
          <xs:element name="BehorigAttBytaAnvandare" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Larosate">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[En lärosäte i systemet]]>
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="base:BaseKatalogI18nEntitet">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Anvandare">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[En användare i systemet]]>
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element name="Anvandarnamn" type="xs:string"/>
          <xs:element minOccurs="0" name="Efternamn" type="xs:string"/>
          <xs:element name="Fornamn" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AnvandareLista">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[En lista av användare]]>
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Anvandare"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AnvandareRESTRef">
    <xs:sequence>
      <xs:element minOccurs="0" name="Anvandarnamn" type="xs:string"/>
      <xs:element minOccurs="0" name="Efternamn" type="xs:string"/>
      <xs:element minOccurs="0" name="Fornamn" type="xs:string"/>
      <xs:element minOccurs="0" name="link" type="dap:RelationLink"/>
      <xs:element minOccurs="0" name="Uid" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AnvandarHistorikLista">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[Historik för en användare]]>
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="AnvandarHistorikList" type="ki:AnvandarHistorik"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AnvandarHistorik">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[En användarhistorik är en ändring som skett på en användare.]]>
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element minOccurs="0" name="Anvandarnamn" type="xs:string"/>
          <xs:element minOccurs="0" name="NyttNamn" type="xs:string"/>
          <xs:element minOccurs="0" name="AndradAv" type="xs:string"/>
          <xs:element minOccurs="0" name="AndradTidpunkt" type="xs:dateTime"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Anvandarinformation">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[Information om en användare i systemet]]>
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element minOccurs="0" name="AnvandareUID" type="xs:string"/>
          <xs:element minOccurs="0" name="Epost" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Leveranspreferenser" type="av:Leveranspreferens"/>
          <xs:element minOccurs="0" name="Sms" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Autentiseringsinformation">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[Information om användarens autentisering, t.ex. vilken IdP som användaren]]>
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="Assurance" type="xs:string"/>
          <xs:element minOccurs="0" name="Host" type="xs:string"/>
          <xs:element minOccurs="0" name="Idp" type="xs:string"/>
          <xs:element minOccurs="0" name="IdpTimestamp" type="xs:string"/>
          <xs:element minOccurs="0" name="MetaAssuranceCertification" type="xs:string"/>
          <xs:element minOccurs="0" name="ShibAuthContextClass" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Autentiseringsunderlag">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[Representation som innehåller ett svar som kan innebära att anroparen (GUI:t) bör följa en länk till IdP:n för att göra en ny
autentisering]]>
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="Aktivitetskod" type="xs:string"/>
          <xs:element name="SakerhetsnivaID" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType abstract="true" name="EnumDummy">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[Representation som samlar upp enum-representationer bara för att det skall komma med vid XML-schema genreringen. Detta då
enum-representationer endast kommer med i xml-schemat vid generering via schemagen om enum'en ingår i en annan representation.]]>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="AnvandarbehorighetsstatusEnum" type="ki:Anvandarbehorighetsstatus"/>
      <xs:element minOccurs="0" name="OrganisationOrderByEnum" type="ki:OrganisationOrderByEnum"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="I18nLista">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Oversattning" type="ki:I18n"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="I18n">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="I18nNyckel" type="xs:string"/>
          <xs:element minOccurs="0" name="Text" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="InloggningRepresentation">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="AnvandareUID" type="xs:string"/>
          <xs:element minOccurs="0" name="InloggningStatus" type="ki:InloggningStatus"/>
          <xs:element minOccurs="0" name="Larosateskod" type="xs:string"/>
          <xs:element minOccurs="0" name="UserPermissions" type="base:UserPermissions"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LadokOTP">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[Ladok-internt engångslösenord som används för att efter legitimering koppla ett OTP-token till sin användare.]]>
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element minOccurs="0" name="OTP" type="xs:string"/>
          <xs:element minOccurs="0" name="GiltigtTill" type="xs:dateTime"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Konfigurationsobjekt">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element minOccurs="0" name="kategori" type="xs:string"/>
          <xs:element minOccurs="0" name="varde" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Larosaten">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Larosate"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SokresultatAnvandareKataloginformation">
    <xs:complexContent>
      <xs:extension base="base:Sokresultat">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Resultat" type="ki:Anvandare">
            <xs:annotation>
              <xs:documentation>
                <![CDATA[Lista med poster som kan vara en delmängd av det totala resultatet, givet paginering]]>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SokresultatOrganisationKataloginformation">
    <xs:complexContent>
      <xs:extension base="base:Sokresultat">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Resultat" type="ki:Organisation">
            <xs:annotation>
              <xs:documentation>
                <![CDATA[Lista med poster som kan vara en delmängd av det totala resultatet, givet paginering]]>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Organisation">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[En organisation i systemet.]]>
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element name="Benamningar" type="base:Benamningar"/>
          <xs:element minOccurs="0" name="Giltighetsperiod" type="base:Datumperiod"/>
          <xs:element name="Organisationskod" type="xs:string"/>
          <xs:element name="Organisationsenhetstyp" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Tjanstekonfiguration">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Konfigurationsobjekt"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AnvandarbehorighetEnkel">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[Enkel representation av en användarbehörighet utan annat än det mest nödvändiga. Syftet med en lättviktig representation är att
minska footprint i bland annat events.]]>
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element minOccurs="0" name="AnvandareUID" type="xs:string"/>
          <xs:element minOccurs="0" name="BehorighetsprofilUID" type="xs:string"/>
          <xs:element minOccurs="0" name="OrganisationUID" type="xs:string"/>
          <xs:element minOccurs="0" name="Status" type="ki:Anvandarbehorighetsstatus"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AnvandarbehorighetLista">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[Lista av användarbehörigheter]]>
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Anvandarbehorighet"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Anvandarbehorighet">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[En användarbehörighet är kopplingen mellan en användare och en behörighetsprofil i systemet. Längre fram kommer användarbehörigheten
även att kunna kopplas till t.ex. organisationer och/eller utbildningar för att kunna ge behörigheter till specifika data.]]>
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element minOccurs="0" name="AnvandareRef" type="ki:AnvandareRESTRef"/>
          <xs:element minOccurs="0" name="BehorighetsprofilRef" type="base:RESTRef"/>
          <xs:element minOccurs="0" name="BestalldTidpunkt" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="OrganisationRef" type="base:RESTRef"/>
          <xs:element minOccurs="0" name="Status" type="ki:Anvandarbehorighetsstatus"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AnvandarbehorighetsstatusLista">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Anvandarbehorighetsstatus" type="ki:AnvandarbehorighetsstatusI18n"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AnvandarbehorighetsstatusI18n">
    <xs:sequence>
      <xs:element minOccurs="0" name="I18nNyckel" type="xs:string"/>
      <xs:element minOccurs="0" name="ID" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BehorighetsprofilLista">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[En lista av behörighetsprofiler]]>
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Behorighetsprofiler" type="ki:Behorighetsprofil"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Behorighetsprofil">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[En behörighetsprofil är en gruppering av systemfunktioner]]>
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element name="Benamningar" type="base:Benamningar"/>
          <xs:element minOccurs="0" ref="ki:Dataavgransningar"/>
          <xs:element name="Rattighetsniva" type="ki:Rattighetsniva"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Systemaktiviteter" type="ki:Systemaktivitet"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Dataavgransningar">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[Representerar en eller flera dataavgränsningar av en behörighetsprofil. Tillsammans utgör de den datamässiga avgränsningen för vad
behörighetsprofilen ger åtkomst till, t.ex. möjlighet att utföra aktiviteter i systemet avgränsat till en eller flera organisationer
och en eller flera utbildningstyper.]]>
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="Lista" type="ki:Dataavgransning"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Dataavgransning">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[En dataavgränsning representerar en avgränsning av behörigheter i en datadimension, t.ex. att en behörighet gäller för en viss
Utbildningstyp]]>
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element minOccurs="0" name="DataDimension" type="base:DataDimension"/>
          <xs:element minOccurs="0" name="DataId" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Systemaktivitet">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:int"/>
          <xs:element name="Betafunktion" type="xs:boolean"/>
          <xs:element minOccurs="0" name="I18nNyckel" type="xs:string"/>
          <xs:element name="KlarForProduktion" type="xs:boolean"/>
          <xs:element minOccurs="0" ref="ki:RegelverkForAvgransningMotInformationskategori"/>
          <xs:element minOccurs="0" name="Rattighetsniva" type="ki:Rattighetsniva"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RegelverkForAvgransningMotInformationskategori">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[Representerar det regelverk som gäller för systemaktivitetens krav på och möjliga avgränsning till specifika informationskategorier/datadimensioner.]]>
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="KanAvgransasTill" type="base:DataDimension"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="MasteAvgransasTill" type="base:DataDimension"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DatadimensionLista">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Datadimensioner" type="base:DataDimension"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DatadimensionvardeLista">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Varden" type="ki:Datadimensionsvarde"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Datadimensionsvarde">
    <xs:sequence>
      <xs:element minOccurs="0" name="Benamningar" type="base:Benamningar"/>
      <xs:element minOccurs="0" name="DataDimension" type="base:DataDimension"/>
      <xs:element minOccurs="0" name="DataId" type="xs:string"/>
      <xs:element minOccurs="0" name="Kod" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SystemaktivitetLista">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Systemaktivitet"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SokresultatAnvBehorighetKataloginformation">
    <xs:complexContent>
      <xs:extension base="base:Sokresultat">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Resultat" type="ki:Anvandarbehorighet">
            <xs:annotation>
              <xs:documentation>
                <![CDATA[Lista med poster som kan vara en delmängd av det totala resultatet, givet paginering]]>
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AktiviteterSomKraverAutentisering">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="AktivitetSomKraverAterautentisering" type="ki:AktivitetSomKraverAutentisering"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AktivitetSomKraverAutentisering">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence>
          <xs:element minOccurs="0" name="KompatiblaSakerhetsnivaer">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="SakerhetsnivaID" type="xs:int"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Aktivitetstillfallestyper">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Aktivitetstillfallestyp"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Aktivitetstillfallestyp">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Antagningsomgangar">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Antagningsomgang"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Antagningsomgang">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence>
          <xs:element minOccurs="0" name="SistaAnmalningsdag" type="xs:date"/>
          <xs:element name="SistaAnnonseringsdag" type="xs:date"/>
          <xs:element name="Studieavgiftsbelagd" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Behorighetsinformationer">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Behorighetsinformation"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Behorighetsinformation">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence>
          <xs:element minOccurs="0" name="AnvandModellSarskildBehorighet" type="xs:boolean"/>
          <xs:element minOccurs="0" name="Emiltext" type="base:Benamningar"/>
          <xs:element minOccurs="0" name="ModellSarskildBehorighet" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Betygsgrad">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence>
          <xs:element name="GiltigSomSlutbetyg" type="xs:boolean"/>
          <xs:element name="Ordningsnummer" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Betygsskalor">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Betygsskala"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Betygsskala">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" name="Betygsgrader" type="ki:Betygsgrad"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BeviskategoriLista">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Beviskategori"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Beviskategori">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DefinitionerAvAntagningsomgang">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="DefintionAvAntagningsomgang" type="ki:DefinitionAvAngtagningsomgang"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DefinitionAvAngtagningsomgang">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence>
          <xs:element name="SistaAnmalningsdag" type="xs:date"/>
          <xs:element minOccurs="0" name="SistaAnnonseringsdag" type="xs:date"/>
          <xs:element name="Studieavgiftsbelagd" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Dokumentkonfigurationer">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Dokumentkonfiguration"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Dokumentkonfiguration">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence>
          <xs:element name="DokumentmallID" type="xs:int"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Dokumentmallparameterinformation" type="ki:Dokumentmallparameter"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Dokumentmallparametrar" type="ki:Dokumentmallparameter"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Dokumentmallparameter">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element name="AnvandsIDokumentkonfigurationen" type="xs:boolean"/>
          <xs:element minOccurs="0" name="Beskrivning" type="base:Benamningar"/>
          <xs:element name="DokumentmallParameterVardeTyp" type="ki:DokumentmallParameterVardeTyp"/>
          <xs:element minOccurs="0" name="EventuellInformationOmFelIParametern" type="xs:string"/>
          <xs:element minOccurs="0" name="Nyckel" type="xs:string"/>
          <xs:element minOccurs="0" name="Varde" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Enheter">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Enhet"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Enhet">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence>
          <xs:element name="Helarsvarde" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ExternaParter">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:ExternPart"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ExternPart">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence>
          <xs:element name="LandID" type="xs:int"/>
          <xs:element minOccurs="0" name="Schac" type="xs:string"/>
          <xs:element name="TypAvExternPartID" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Finansieringsformer">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Finansieringsform"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Finansieringsform">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Finansieringsformsgrupper">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Finansieringsformsgrupp"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Finansieringsformsgrupp">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence>
          <xs:element minOccurs="0" name="Finansieringsformer">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="Finansieringsform" type="xs:int"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Fordjupningsnivaer">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Fordjupningsniva"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Fordjupningsniva">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Forkunskapsnivaer">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Forkunskapsniva"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Forkunskapsniva">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="HuvudomradesgruppLista">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Huvudomradesgrupp"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Huvudomradesgrupp">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Kommuner">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Kommun"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Kommun">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence>
          <xs:element name="LanID" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="KonfigurationerAvAutentisering">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:KonfigurationAvAutentisering"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="KonfigurationAvAutentisering">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence>
          <xs:element name="AktivitetSomKraverAutentiseringID" type="xs:int"/>
          <xs:element minOccurs="0" ref="ki:Autentiseringstyp"/>
          <xs:element minOccurs="0" name="MaxSekunderSedanAutentisering" type="xs:int"/>
          <xs:element name="SakerhetsnivaForAutentiseringID" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="KonfigurationerAvAterautentisering">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="KonfigurationAvAterautentisering" type="ki:KonfigurationAvAutentisering"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="KonfigurationAvAterautentisering">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence>
          <xs:element name="AktivitetSomKraverAterautentiseringID" type="xs:int"/>
          <xs:element name="SakerhetsnivaForAterautentiseringID" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="KravPaTidigareStudierLista">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:KravPaTidigareStudier"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="KravPaTidigareStudier">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence>
          <xs:element name="Emilvarde" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Lander">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Land"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Land">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LokalVardelistaLista">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:LokalVardelista"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LokalVardelista">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:LokalVardelistavarde"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LokalVardelistavarde">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LanLista">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Lan"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Lan">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Markningsnycklar">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Markningsnyckel"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Markningsnyckel">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Markningsvarde"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Markningsvarde">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="NationellaExamensgrupper">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:NationellExamensgrupp"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="NationellExamensgrupp">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="NationellaMallarForPeriod">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:NationellMallForPeriod"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="NationellMallForPeriod">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence>
          <xs:element name="FromDatum" type="xs:date"/>
          <xs:element name="PeriodtypID" type="xs:int"/>
          <xs:element name="TomDatum" type="xs:date"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="NationellaForskningsamnen">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="NationellaForskningsamne" type="ki:NationelltForskningsamne"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="NationelltForskningsamne">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="NationellaUndervisningsamnen">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:NationelltUndervisningsamne"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="NationelltUndervisningsamne">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="NivaerInomStudieordning">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:NivaInomStudieordning"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="NivaInomStudieordning">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Omradesbehorigheter">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Omradesbehorighet"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Omradesbehorighet">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence>
          <xs:element name="Emilvarde" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OrganisationsenhetstypLista">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Organisationsenhetstyp"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Organisationsenhetstyp">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Organisationskopplingstyper">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Organisationskopplingstyp"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Organisationskopplingstyp">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OrsakerAvstangning">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:OrsakAvstangning"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OrsakAvstangning">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OrsakerEjAvgiftsskyldig">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:OrsakEjAvgiftsskyldig"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OrsakEjAvgiftsskyldig">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType abstract="true" name="Ort">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[Basklass för svensk och utländsk ort]]>
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Perioder">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Period"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Period">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence>
          <xs:element name="FromDatum" type="xs:date"/>
          <xs:element name="PeriodtypID" type="xs:int"/>
          <xs:element name="TomDatum" type="xs:date"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PeriodUtifranNationellMallForPeriod">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element name="FromDatum" type="xs:date"/>
          <xs:element name="NationellMallForPeriodID" type="xs:int"/>
          <xs:element name="TomDatum" type="xs:date"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PeriodtypLista">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Periodtyp"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Periodtyp">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence>
          <xs:element name="PeriodtypKategori" type="ki:PeriodtypKategori"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Planeringsomgangar">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Planeringsomgang"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Planeringsomgang">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Postadress">
    <xs:sequence>
      <xs:element minOccurs="0" name="Postnummer" type="xs:string"/>
      <xs:element minOccurs="0" name="Postort" type="xs:string"/>
      <xs:element minOccurs="0" name="Utdelningsadress" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Praktiktyper">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Praktiktyp"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Praktiktyp">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Processaktorer">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Processaktor"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Processaktor">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Studiefinansieringar">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Studiefinansiering"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Studiefinansiering">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Studielokaliseringar">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Studielokalisering"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Studielokalisering">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence>
          <xs:element minOccurs="0" name="OrtID" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Studieordningar">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Studieordning"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Studieordning">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence>
          <xs:element name="EnhetID" type="xs:int"/>
          <xs:element name="UtbildningsformID" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Studietakter">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Studietakt"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Studietakt">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence>
          <xs:element name="Takt" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SuccessivaFordjupningar">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:SuccessivFordjupning"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SuccessivFordjupning">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence>
          <xs:element name="NivaInomStudieordningID" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SvenskaOrter">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:SvenskOrt"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SvenskOrt">
    <xs:complexContent>
      <xs:extension base="ki:Ort">
        <xs:sequence>
          <xs:element name="KommunID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SakerhetsnivaerForAutentisering">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="SakerhetsnivaForAterautentisering" type="ki:SakerhetsnivaForAutentisering"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SakerhetsnivaForAutentisering">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Tilltradesnivaer">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Tilltradesniva"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Tilltradesniva">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TyperAvExternPart">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:TypAvExternPart"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TypAvExternPart">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Undervisningsformer">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Undervisningsform"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Undervisningsform">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="UndervisningssprakLista">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Undervisningssprak"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Undervisningssprak">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Undervisningstider">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Undervisningstid"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Undervisningstid">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Urvalsinformationer">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Urvalsinformation"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Urvalsinformation">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence>
          <xs:element minOccurs="0" name="Urvalsmodell" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Utbildningsformer">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Utbildningsform"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Utbildningsform">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Utbildningsomraden">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Utbildningsomrade"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Utbildningsomrade">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Utbildningsregler">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Utbildningsregel"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Utbildningsregel">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="Datatyp" type="base:Datatyp"/>
          <xs:element minOccurs="0" name="Namn" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="UtbildningssatsningLista">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Utbildningssatsning"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Utbildningssatsning">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="UtbytesprogramLista">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Utbytesprogram"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Utbytesprogram">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="UtlandskaOrter">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:UtlandskOrt"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="UtlandskOrt">
    <xs:complexContent>
      <xs:extension base="ki:Ort">
        <xs:sequence>
          <xs:element name="LandID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Webblank">
    <xs:sequence>
      <xs:element minOccurs="0" name="Lanktext" type="xs:string"/>
      <xs:element minOccurs="0" name="Url" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArendekorgKoppladeAnvandare">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="KoppladeAnvandare" type="ki:ArendekorgKoppladAnvandare"/>
          <xs:element name="ArendekorgID" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArendekorgKoppladAnvandare">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element name="KoppladAnvandare" type="ki:Anvandare"/>
          <xs:element name="ArendekorgID" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Arendekorgar">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Arendekorg"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Arendekorg">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="XsltMallar">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="lista" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Dokumentmallar">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Dokumentmall"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Dokumentmall">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence>
          <xs:element minOccurs="0" name="Dokumenttitel" type="xs:string"/>
          <xs:element name="DokumenttitelVidSammanfogadeFilerSkaAnges" type="xs:boolean"/>
          <xs:element name="DokumenttitelSkaAnges" type="xs:boolean"/>
          <xs:element minOccurs="0" name="DokumenttitelVidSammanfogadeFiler" type="xs:string"/>
          <xs:element name="Dokumenttyp" type="xs:string"/>
          <xs:element minOccurs="0" name="Filnamn" type="xs:string"/>
          <xs:element name="FilnamnSkaAnges" type="xs:boolean"/>
          <xs:element minOccurs="0" name="FilnamnVidSammanfogadeFiler" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Platshallare" type="xs:string"/>
          <xs:element name="SokvagTillMall" type="xs:string"/>
          <xs:element minOccurs="0" name="SokvagTillPDF" type="xs:string"/>
          <xs:element name="Utskriftsordning" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Dokumenttyper">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Dokumenttyp"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Dokumenttyp">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element name="Dokumenttyp" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LarosatesinformationAttribut">
    <xs:sequence>
      <xs:element name="Attributtyp" type="ki:LarosatesinformationAttributtyp"/>
      <xs:element name="Varde" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LarosatesinformationLista">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Larosatesinformation"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Larosatesinformation">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence>
          <xs:element minOccurs="0" name="EpostadressForAdmingranssnitt" type="xs:string"/>
          <xs:element minOccurs="0" name="EpostadressForStudentgranssnitt" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="ExtraAttribut" type="ki:LarosatesinformationAttribut"/>
          <xs:element minOccurs="0" name="LankTillWebbplats" type="ki:Webblank"/>
          <xs:element minOccurs="0" name="LankTillWebbplatsEngelskSida" type="ki:Webblank"/>
          <xs:element minOccurs="0" name="OrtID" type="xs:int"/>
          <xs:element minOccurs="0" ref="ki:Postadress"/>
          <xs:element minOccurs="0" name="Telefonnummer" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="InganendePart">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="AdministrerandeLarosate" type="xs:boolean"/>
          <xs:element minOccurs="0" name="IngaendeExternPartID" type="xs:int"/>
          <xs:element minOccurs="0" name="IngaendeLarosateID" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Utbildningssamarbeten">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Utbildningssamarbete"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Utbildningssamarbete">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence>
          <xs:element minOccurs="0" name="GemensamExamen" type="xs:boolean"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="IngaendePart" type="ki:InganendePart"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Regelvarde">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[Representerar ett värde för en regel inom ramen för ett givet regelverk som avser en utbildning]]>
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element name="Regelnamn" type="xs:string"/>
          <xs:element name="Varde" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Utbildningstyper">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Utbildningstyp"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Utbildningstyp">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence>
          <xs:element name="AvserTillfalle" type="xs:boolean"/>
          <xs:element name="Grundtyp" type="base:Utbildningsgrundtyp"/>
          <xs:element minOccurs="0" name="NivaInomStudieordningID" type="xs:int"/>
          <xs:element minOccurs="0" name="Regelverk" type="ki:RegelverkForUtbildningstyp"/>
          <xs:element name="Sorteringsordning" type="xs:int"/>
          <xs:element name="StudieordningID" type="xs:int"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="TillfalleInomUtbildningstyper" type="xs:int"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="UtbildningstyperInomUtbildningstyp" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RegelverkForUtbildningstyp">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Regelvarden" type="ki:Regelvarde"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Amnesgrupper">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Amnesgrupp"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Amnesgrupp">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Amnesklasser">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Amnesklass"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Amnesklass">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AmnesordLista">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="AmnesordLista" type="ki:Amnesord"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Amnesord">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AnvandarbehorighetIE">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[Förenklad representation av användarbehörighet för Export/Import funktionalitet.
<p>
Endast för intern åtkomst.]]>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Behorighetsprofil" type="xs:string"/>
      <xs:element minOccurs="0" name="Organisation" type="xs:string"/>
      <xs:element minOccurs="0" name="Status" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AnvandareIE">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[Förenklad representation av användare för Export/Import funktionalitet.
<p>
Endast för intern åtkomst.]]>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Anvandarbehorighet" type="ki:AnvandarbehorighetIE"/>
      <xs:element minOccurs="0" name="Anvandarnamn" type="xs:string"/>
      <xs:element minOccurs="0" name="Efternamn" type="xs:string"/>
      <xs:element minOccurs="0" name="Epost" type="xs:string"/>
      <xs:element minOccurs="0" name="Fornamn" type="xs:string"/>
      <xs:element minOccurs="0" name="Larosate" type="xs:int"/>
      <xs:element minOccurs="0" name="Sms" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AnvandareListaIERepresentation">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[Förenklad representation av användare i systemet för Exporg/Import funktionalitet. Implementerad som en tabell med lärosätesId som
nyckel till en lista av användare.
<p>
Endast för intern åtkomst.]]>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Anvandare" type="ki:AnvandareIE"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BehorighetsprofilIE">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[Förenklad representation av en behörighetsprofil för Export/Import funktionalitet.
<p>
Endast för intern åtkomst.]]>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Benamning" type="base:Benamningar"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Dataavgransningar" type="ki:DataavgransningIE"/>
      <xs:element name="Larosate" type="xs:int"/>
      <xs:element minOccurs="0" name="Rattighetsniva" type="ki:Rattighetsniva"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Systemaktiviteter" type="ki:SystemaktivitetIE"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DataavgransningIE">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataDimension" type="base:DataDimension"/>
      <xs:element minOccurs="0" name="DataId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SystemaktivitetIE">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[Förenklad representation av en systemaktivitet för Export/Import funktionalitet.
<p>
Endast för intern åtkomst.]]>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BehorighetsprofilListaIE">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[Förenklad representation av behörighetsprofiler för Export/Import funktionalitet. Implementerad som en tabell med lärosätesId som
nyckel till en lista av behörighetsprofiler.
<p>
Endast för intern åtkomst.]]>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Behorighetsprofiler" type="ki:BehorighetsprofilIE"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LokalText">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[Representation av lokal text, dvs. ett lärosätes egen textbeskrivning. Typ som en i18n-nyckel fast med en lokal översättning.]]>
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element minOccurs="0" name="EngelskText" type="xs:string"/>
          <xs:element minOccurs="0" name="Nyckel" type="xs:string"/>
          <xs:element minOccurs="0" name="SvenskText" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LokalaTexter">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[En lista av lokala texter eller de fördefinierade värden som finns för lokala texter]]>
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="FordefinieradeTexter" type="ki:LokalText"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="LokalaTexter" type="ki:LokalText"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="NyLinjeorganisationsenhet">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[En organisation i systemet.]]>
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="Benamningar" type="base:Benamningar"/>
          <xs:element minOccurs="0" name="Giltighetsperiod" type="base:Datumperiod"/>
          <xs:element minOccurs="0" name="Organisationskod" type="xs:string"/>
          <xs:element minOccurs="0" name="Organisationsenhetstyp" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OrganisationLista">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[Lista över organisationer i systemet.]]>
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Organisationer" type="ki:Organisation"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OrganisationskopplingLista">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[En lista med möjliga organisationskopplingar i systemet.]]>
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Organisationskopplingar" type="ki:Organisationskoppling"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Organisationskoppling">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[En organisationskoppling i systemet.]]>
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element minOccurs="0" name="OrganisationskopplingstypID" type="xs:int"/>
          <xs:element minOccurs="0" name="UnderliggandeRef" type="base:RESTRef"/>
          <xs:element minOccurs="0" name="OverliggandeRef" type="base:RESTRef"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="Anvandarbehorighetsstatus">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[De möjliga tillstånd en användarbehörighet kan ha]]>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="AKTIV"/>
      <xs:enumeration value="INAKTIV"/>
      <xs:enumeration value="OBEHANDLAD"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="OrganisationOrderByEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="KOD_ASC"/>
      <xs:enumeration value="KOD_DESC"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="InloggningStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="lyckades"/>
      <xs:enumeration value="anvandare.saknas.och.har.skapats"/>
      <xs:enumeration value="anvandare.saknas"/>
      <xs:enumeration value="larosatet.inte.konfigurerat"/>
      <xs:enumeration value="anvandare.far.inte.agera.student"/>
      <xs:enumeration value="anvandare.far.inte.agera.ombud.for.annan.anvandare"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Rattighetsniva">
    <xs:restriction base="xs:string">
      <xs:enumeration value="rattighetsniva.support"/>
      <xs:enumeration value="rattighetsniva.nationell"/>
      <xs:enumeration value="rattighetsniva.lokal"/>
      <xs:enumeration value="rattighetsniva.las"/>
      <xs:enumeration value="rattighetsniva.student"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Autentiseringstyp">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AUTENTISERING_UTAN_TIMEOUT"/>
      <xs:enumeration value="ATERAUTENTISERING_MED_TIMEOUT"/>
      <xs:enumeration value="ENGANGSATERAUTENTISERING_MED_TIMEOUT"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DokumentmallParameterVardeTyp">
    <xs:restriction base="xs:string">
      <xs:enumeration value="TEXT"/>
      <xs:enumeration value="BAKGRUNDSBILD"/>
      <xs:enumeration value="BILD"/>
      <xs:enumeration value="TYPSNITT"/>
      <xs:enumeration value="JA_NEJ"/>
      <xs:enumeration value="UNDEFINED"/>
      <xs:enumeration value="PLACERING"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PeriodtypKategori">
    <xs:annotation>
      <xs:documentation>
        <![CDATA[Den kategori en viss periodtyp är av.]]>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="kataloginformation.grunddatakategori.periodtypkategori.nationellt.definierad.och.faststalld.period"/>
      <xs:enumeration value="kataloginformation.grunddatakategori.periodtypkategori.nationellt.definierad.och.lokalt.faststalld.period"/>
      <xs:enumeration value="kataloginformation.grunddatakategori.periodtypkategori.lokalt.definierad.och.faststalld.period"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="LarosatesinformationAttributtyp">
    <xs:restriction base="xs:string">
      <xs:enumeration value="WEBBPLATSPREFIX_SVENSKA"/>
      <xs:enumeration value="WEBBPLATSPREFIX_ENGELSKA"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
