src/main/resources/xsd/schemas.ladok.se-studentinformation.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:at="http://schemas.ladok.se/attestering" xmlns:base="http://schemas.ladok.se" xmlns:dap="http://schemas.ladok.se/dap" xmlns:events="http://schemas.ladok.se/events" xmlns:si="http://schemas.ladok.se/studentinformation" elementFormDefault="qualified" targetNamespace="http://schemas.ladok.se/studentinformation" version="1.0">

  <xs:import namespace="http://schemas.ladok.se/dap" schemaLocation="schemas.ladok.se-dap.xsd"/>

  <xs:import namespace="http://schemas.ladok.se/events" schemaLocation="schemas.ladok.se-events.xsd"/>

  <xs:import namespace="http://schemas.ladok.se" schemaLocation="schemas.ladok.se.xsd"/>

  <xs:element name="Adresslista" type="si:Adresslista"/>

  <xs:element name="Avskiljandebeslut" type="si:Avskiljandebeslut"/>

  <xs:element name="AvskiljandebeslutLista" type="si:AvskiljandebeslutLista"/>

  <xs:element name="AvskiljningEventPart" type="si:AvskiljningEventPart"/>

  <xs:element name="Avstangning" type="si:Avstangning"/>

  <xs:element name="AvstangningEventPart" type="si:AvstangningEventPart"/>

  <xs:element name="Avstangningar" type="si:Avstangningar"/>

  <xs:element name="BerettUnderlagForEtableringAvStudent" type="si:BerettUnderlagForEtableringAvStudent"/>

  <xs:element name="ExternStudent" type="si:ExternStudent"/>

  <xs:element name="Felkalla" type="si:Felkalla"/>

  <xs:element name="Hinder" type="base:Hinder"/>

  <xs:element name="Identitetsuppgifter" type="si:Identitetsuppgifter"/>

  <xs:element name="Kontaktuppgifter" type="si:Kontaktuppgifter"/>

  <xs:element name="KontaktuppgifterEvent" type="si:KontaktuppgifterEvent"/>

  <xs:element name="KontaktuppgifterSysteminterntEvent" type="si:KontaktuppgifterSysteminterntEvent"/>

  <xs:element name="Larosatesinformation" type="si:Larosatesinformation"/>

  <xs:element name="LarosatesinformationLista" type="si:LarosatesinformationLista"/>

  <xs:element name="LokalStudentEvent" type="si:LokalStudentEvent"/>

  <xs:element name="OrsakAvstangning" type="si:OrsakAvstangning"/>

  <xs:element name="OrsakEjAvgiftsskyldig" type="si:OrsakEjAvgiftsskyldig"/>

  <xs:element name="OrsakerAvstangning" type="si:OrsakerAvstangning"/>

  <xs:element name="OrsakerEjAvgiftsskyldig" type="si:OrsakerEjAvgiftsskyldig"/>

  <xs:element name="Postadress" type="si:Postadress"/>

  <xs:element name="Regelresultat" type="si:Regelresultat"/>

  <xs:element name="SkyddadePersonuppgifter" type="si:SkyddadePersonuppgifter"/>

  <xs:element name="Skyddsbeslut" type="si:Skyddsbeslut"/>

  <xs:element name="SokresultatExternStudentRepresentation" type="si:SokresultatExternStudentRepresentation"/>

  <xs:element name="SokresultatStudentinformationRepresentation" type="si:SokresultatStudentinformationRepresentation"/>

  <xs:element name="Student" type="si:Student"/>

  <xs:element name="StudentAvlidenmarkeringEvent" type="si:StudentAvlidenmarkeringEvent"/>

  <xs:element name="StudentBortkoppladFranLarosateEvent" type="si:StudentBortkoppladFranLarosateEvent"/>

  <xs:element name="StudentEvent" type="si:StudentEvent"/>

  <xs:element name="StudentISokresultat" type="si:StudentISokresultat"/>

  <xs:element name="StudentMedAnteckning" type="si:StudentMedAnteckning"/>

  <xs:element name="StudentUIDLasRepresentation" type="si:StudentUIDLasRepresentation"/>

  <xs:element name="Studenter" type="si:Studenter"/>

  <xs:element name="Studenthistorikpost" type="si:Studenthistorikpost"/>

  <xs:element name="StudenthistorikpostNy" type="si:StudenthistorikpostNy"/>

  <xs:element name="Studenthistorikposter" type="si:Studenthistorikposter"/>

  <xs:element name="Studentkoppling" type="si:Studentkoppling"/>

  <xs:element name="Studentkopplingar" type="si:Studentkopplingar"/>

  <xs:element name="StudentrestriktionEvent" type="si:StudentrestriktionEvent"/>

  <xs:element name="StudentrestriktionEventPart" type="si:StudentrestriktionEventPart"/>

  <xs:element name="Studieavgiftsskyldighet" type="si:Studieavgiftsskyldighet"/>

  <xs:element name="StudieavgiftsskyldighetEventPart" type="si:StudieavgiftsskyldighetEventPart"/>

  <xs:element name="StudieavgiftsskyldighetHistorik" type="si:StudieavgiftsskyldighetHistorik"/>

  <xs:element name="Studieavgiftsskyldigheter" type="si:Studieavgiftsskyldigheter"/>

  <xs:element name="StudieavgiftsskyldigheterHistorik" type="si:StudieavgiftsskyldigheterHistorik"/>

  <xs:element name="StudieavgiftsskyldigheterPaLarosateEvent" type="si:StudieavgiftsskyldigheterPaLarosateEvent"/>

  <xs:element name="UnikIdentifierare" type="si:UnikIdentifierare"/>

  <xs:element name="UnikaIdentifierare" type="si:UnikaIdentifierare"/>

  <xs:complexType name="AvskiljningEventPart">
<xs:annotation>
<xs:documentation><![CDATA[Del av ett StudentrestriktionEvent avseende en students avskiljande]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="si:StudentrestriktionEventPart">
        <xs:sequence>
          <xs:element minOccurs="0" name="AvskiljningStatus" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="StudentrestriktionEventPart">
<xs:annotation>
<xs:documentation><![CDATA[Basklass för alla typer av restriktioner]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AvstangningEventPart">
<xs:annotation>
<xs:documentation><![CDATA[Del av ett StudentrestriktionEvent avseende en students avstängning]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="si:StudentrestriktionEventPart">
        <xs:sequence>
          <xs:element name="OrsakID" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="KontaktuppgifterEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelse som publiceras avseende ändringar i en students kontaktuppgifter.
Händelsen publiceras när:
- Ändringar i en students kontaktuppgifter görs
Innehåller information om:
- Postadress, epost, SMS
Innehåller referenser till:
- ...
Konsekvenser för verksamheten:
- Avisering via epost kan påverkas, dvs. om kontaktuppgifterna innehåller en felaktig epostadress är det möjligt att aviseringar till
studenten från Ladok slutar fungera. Man kan på lärosätet behöva kontrollera att ändrade epostadresser är korrekta.
Övrigt:
- Händelsen publiceras till de lärosäten som studenten är kopplad till.]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="si:KontaktuppgifterSysteminterntEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="KontaktuppgifterSysteminterntEvent">
    <xs:complexContent>
      <xs:extension base="events:BaseEventRepresentationMedHandelsetyp">
        <xs:sequence>
          <xs:element minOccurs="0" name="Epostadress" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Postadresser" type="si:PostadressEventPart"/>
          <xs:element minOccurs="0" name="StudentUID" type="xs:string"/>
          <xs:element minOccurs="0" name="Telefonnummer" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="PostadressEventPart">
<xs:annotation>
<xs:documentation><![CDATA[Del av händelse för kontaktuppgifter]]></xs:documentation>
</xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="CareOf" type="xs:string"/>
      <xs:element minOccurs="0" name="Land" type="xs:string"/>
      <xs:element minOccurs="0" name="PostadressTyp" type="si:PostadressTypRepresentation"/>
      <xs:element minOccurs="0" name="Postnummer" type="xs:string"/>
      <xs:element minOccurs="0" name="Postort" type="xs:string"/>
      <xs:element minOccurs="0" name="Utdelningsadress" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="StudentAvlidenmarkeringEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- Ändring sker på students avlidenstatus. Normalt sker detta när student registreras som avliden, men kan även avse en rättning av en
felaktig avliden-markering.
Innehåller information om:
- Avliden-status
Innehåller referenser till:
- Student
Konsekvenser för verksamheten:
- Om en avlidenmarkering används för att t.ex. rensa data om studenten i andra system bör man ha i åtanke att det faktiskt förekommer
att avlidenmarkeringen kan vara felaktig och rättas/återställas i ett senare läge.
Övrigt:
-]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:BaseEvent">
        <xs:sequence>
          <xs:element name="avliden" type="xs:boolean"/>
          <xs:element minOccurs="0" name="StudentUID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="StudentBortkoppladFranLarosateEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- En student kopplas bort från ett lärosäte. Detta sker normalt sett enbart om en nationell administratörkonstaterat att studenten
fått en felaktig koppling till ett lärosäte utan att ha någon annan studierelaterad information kopplad till lärosätet.
Innehåller information om:
- Bortkopplad student
Innehåller referenser till:
- Student som "kopplats bort" från lärosätet
Konsekvenser för verksamheten:
- Överväg om studenten bör tas bort från andra system på lärosätet
Övrigt:
- Betrakta händelsen som en registervårdsfunktion]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:BaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="StudentUID" type="xs:string">
<xs:annotation>
<xs:documentation><![CDATA[StudentUID, unik identifierare för student]]></xs:documentation>
</xs:annotation>
</xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="LokalStudentEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- En uppgifter om en student skapas eller uppdateras. Händelsen publiceras till alla lärosäten som studenten har en koppling till.
Innehåller information om:
- Skapad/redigerad student
Innehåller referenser till:
-
Konsekvenser för verksamheten:
- Studieuppgifter som avser ny student kan komma som händelser från och med nu.
Övrigt:
- En händelse om skapad student kan även komma när studenten kopplas till lärosätet. Studenten kan ha funnits i systemet tidigare,
men först nu har kopplingen till lärosätet som tar emot händelsen skapats.]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="si:StudentEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="TidigarePersonnummer" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="StudentEvent">
    <xs:complexContent>
      <xs:extension base="events:BaseEventRepresentationMedHandelsetyp">
        <xs:sequence>
          <xs:element minOccurs="0" name="Efternamn" type="xs:string"/>
          <xs:element minOccurs="0" name="ErsattAvStudentUID" type="xs:string"/>
          <xs:element minOccurs="0" name="ExterntStudentUID" type="xs:string"/>
          <xs:element minOccurs="0" name="Fodelsedata" type="xs:string"/>
          <xs:element minOccurs="0" name="Fornamn" type="xs:string"/>
          <xs:element minOccurs="0" name="HanvisningNuGallandeStudentUID" type="xs:string"/>
          <xs:element name="Kon" type="xs:int"/>
          <xs:element minOccurs="0" name="Personnummer" type="xs:string"/>
          <xs:element minOccurs="0" name="StudentUID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="StudentrestriktionEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelse som publiceras när det sker ändringar
Händelsen publiceras när:
- Det sker ändringar i en students studentrestriktioner, dvs. avskiljanden och avstängningar. Restriktioner kan skapas och ändras.
Innehåller information om:
- ...
Innehåller referenser till:
- ...
Konsekvenser för verksamheten:
- ...
Övrigt:
- ...]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:BaseEventRepresentationMedHandelsetyp">
        <xs:sequence>
          <xs:element minOccurs="0" name="Anteckning" type="xs:string"/>
          <xs:element minOccurs="0" name="Giltighetsperiod" type="base:Datumperiod"/>
          <xs:element minOccurs="0" name="RestriktionEventPart" type="si:StudentrestriktionEventPart"/>
          <xs:element minOccurs="0" name="Restriktionstyp" type="si:RestriktionstypEventPart"/>
          <xs:element minOccurs="0" name="StudentUID" type="xs:string"/>
          <xs:element minOccurs="0" name="StudentrestriktionUID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="StudieavgiftsskyldighetEventPart">
<xs:annotation>
<xs:documentation><![CDATA[Representation för en studieavgiftsskyldighetspost i ett event.]]></xs:documentation>
</xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Anteckning" type="xs:string"/>
      <xs:element minOccurs="0" name="Avgiftsskyldighetsvarde" type="si:Avgiftsskyldighetsvarde"/>
      <xs:element minOccurs="0" name="Beslutsdatum" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="Beslutsordning" type="xs:int"/>
      <xs:element minOccurs="0" name="Datumperiod" type="base:Datumperiod"/>
      <xs:element minOccurs="0" name="Handelsetyp" type="base:Handelsetyp"/>
      <xs:element minOccurs="0" name="OrsakEjAvgiftsskyldigID" type="xs:int"/>
      <xs:element minOccurs="0" name="StudentUID" type="xs:string"/>
      <xs:element minOccurs="0" name="StudiesavgiftsskyldighetUID" type="xs:string"/>
      <xs:element minOccurs="0" name="Ursprung" type="si:Ursprung"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="StudieavgiftsskyldigheterPaLarosateEvent">
<xs:annotation>
<xs:documentation><![CDATA[Händelsen publiceras när:
- Ändringar görs i students studieavgiftsskyldigheter på ett lärosäte.
Innehåller information om:
- Studieavgiftsskyldigheter
Innehåller referenser till:
- Student
Konsekvenser för verksamheten:
- Påverkar om student ska betala studieavgifter eller ej
Övrigt:
-]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="events:BaseEvent">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Studieavgiftsskyldigheter" type="si:StudieavgiftsskyldighetEventPart"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Adresslista">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="StudentUIDer" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="BerettUnderlagForEtableringAvStudent">
    <xs:sequence>
      <xs:element ref="si:Identitetsuppgifter"/>
      <xs:element ref="si:Regelresultat"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Identitetsuppgifter">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element name="Efternamn" type="xs:string"/>
          <xs:element name="Fodelsedatum" type="xs:string"/>
          <xs:element name="Fornamn" type="xs:string"/>
          <xs:element name="KonID" type="xs:int"/>
          <xs:element name="Personnummer" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Regelresultat">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="HinderLista">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="si:Hinder"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="Varningar">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="Varning" type="base:Hinder"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name="ExternStudent">
<xs:annotation>
<xs:documentation><![CDATA[REST-representation av en extern student i sökresultat från gemensamma studenttjänsten.]]></xs:documentation>
</xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Efternamn" type="xs:string"/>
      <xs:element minOccurs="0" name="ExterntUID" type="xs:string"/>
      <xs:element minOccurs="0" name="Fodelsedata" type="xs:string"/>
      <xs:element minOccurs="0" name="Fornamn" type="xs:string"/>
      <xs:element minOccurs="0" name="KonID" type="xs:int"/>
      <xs:element minOccurs="0" name="Personnummer" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Kontaktuppgifter">
<xs:annotation>
<xs:documentation><![CDATA[Representerar kontaktuppgifter för en student. Innehåller bl.a. Epostadress, Telefonnummer och Postadress.]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element minOccurs="0" name="Epostadress" type="xs:string"/>
          <xs:element minOccurs="0" name="EpostadressSenastAndrad" type="xs:dateTime"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Postadresser" type="si:Postadress"/>
          <xs:element minOccurs="0" name="StudentUID" type="xs:string"/>
          <xs:element minOccurs="0" name="Telefonnummer" type="xs:string"/>
          <xs:element minOccurs="0" name="TelefonnummerSenastAndrad" type="xs:dateTime"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Postadress">
    <xs:sequence>
      <xs:element minOccurs="0" name="CareOf" type="xs:string"/>
      <xs:element minOccurs="0" name="Land" type="xs:string"/>
      <xs:element minOccurs="0" name="PostadressTyp" type="si:PostadressTypRepresentation"/>
      <xs:element minOccurs="0" name="Postnummer" type="xs:string"/>
      <xs:element minOccurs="0" name="Postort" type="xs:string"/>
      <xs:element minOccurs="0" name="Utdelningsadress" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="SenastAndrad" type="xs:dateTime"/>
  </xs:complexType>

  <xs:complexType name="SkyddadePersonuppgifter">
<xs:annotation>
<xs:documentation><![CDATA[REST-representation av en students skyddade personuppgifter.]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element minOccurs="0" name="Anteckning" type="xs:string"/>
          <xs:element minOccurs="0" name="Efternamn" type="xs:string"/>
          <xs:element minOccurs="0" name="Fodelsedata" type="xs:string"/>
          <xs:element minOccurs="0" name="Fornamn" type="xs:string"/>
          <xs:element minOccurs="0" name="KonID" type="xs:int"/>
          <xs:element minOccurs="0" name="Personnummer" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="si:Skyddsbeslut"/>
          <xs:element minOccurs="0" name="Skyddsstatus" type="xs:string"/>
          <xs:element minOccurs="0" name="StudentUID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Skyddsbeslut">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element minOccurs="0" name="Beslutsdatum" type="xs:date"/>
          <xs:element minOccurs="0" name="Beslutsfattare" type="xs:string"/>
          <xs:element minOccurs="0" name="ExternReferens" type="xs:string"/>
          <xs:element minOccurs="0" name="Giltighetsperiod" type="base:Datumperiod"/>
          <xs:element minOccurs="0" name="Notering" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="StudentISokresultat">
<xs:annotation>
<xs:documentation><![CDATA[En lättviktig representation för att minska ner databasslagningar vid sökningar.
För att få en mer komplett bild av studenten kan klienten följa self-länken.]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element name="Avliden" type="xs:boolean"/>
          <xs:element minOccurs="0" name="Efternamn" type="xs:string"/>
          <xs:element minOccurs="0" name="Fornamn" type="xs:string"/>
          <xs:element minOccurs="0" name="Personnummer" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Studentkopplingar">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Studentkopplingar" type="si:Studentkoppling"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Studentkoppling">
<xs:annotation>
<xs:documentation><![CDATA[REST-representation av en studentkoppling till ett lärosäte.]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="studentUID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Studenter">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="si:Student"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Student">
<xs:annotation>
<xs:documentation><![CDATA[REST-representation av en student.]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element name="Avliden" type="xs:boolean"/>
          <xs:element minOccurs="0" name="Efternamn" type="xs:string"/>
          <xs:element minOccurs="0" name="ExterntUID" type="xs:string"/>
          <xs:element name="FelVidEtableringExternt" type="xs:boolean"/>
          <xs:element minOccurs="0" name="FolkbokforingsbevakningTillOchMed" type="xs:date"/>
          <xs:element minOccurs="0" name="Fodelsedata" type="xs:string"/>
          <xs:element minOccurs="0" name="Fornamn" type="xs:string"/>
          <xs:element minOccurs="0" name="KonID" type="xs:int"/>
          <xs:element minOccurs="0" name="Personnummer" type="xs:string"/>
          <xs:element minOccurs="0" ref="si:UnikaIdentifierare"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UnikaIdentifierare">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="si:UnikIdentifierare"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UnikIdentifierare">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element minOccurs="0" name="Typ" type="xs:string"/>
          <xs:element minOccurs="0" name="Varde" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="StudentMedAnteckning">
<xs:annotation>
<xs:documentation><![CDATA[Representation för att skicka med uppgifter vid registrering av ursprung i studenthistoriken.]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="si:Student">
        <xs:sequence>
          <xs:element minOccurs="0" name="Anteckning" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="StudentUIDLasRepresentation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Uid" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Studenthistorikposter">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Studenthistorikpost" type="si:StudenthistorikpostNy"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="StudenthistorikpostNy">
<xs:annotation>
<xs:documentation><![CDATA[Studenthistorikpostrepresentation]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element minOccurs="0" name="Anteckning" type="xs:string"/>
          <xs:element name="Avliden" type="xs:boolean"/>
          <xs:element minOccurs="0" name="Efternamn" type="xs:string"/>
          <xs:element minOccurs="0" name="Fodelsedata" type="xs:string"/>
          <xs:element minOccurs="0" name="Fornamn" type="xs:string"/>
          <xs:element minOccurs="0" name="HanvisningFranStudentUID" type="xs:string"/>
          <xs:element minOccurs="0" name="KonID" type="xs:int"/>
          <xs:element minOccurs="0" name="Personnummer" type="xs:string"/>
          <xs:element name="SparlostByte" type="xs:boolean"/>
          <xs:element minOccurs="0" name="TypI18n" type="xs:string"/>
          <xs:element minOccurs="0" name="UrsprungligtLarosateID" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Studenthistorikpost">
<xs:annotation>
<xs:documentation><![CDATA[Studenthistorikpostrepresentation

(deprecated): Använd StudenthistorikpostRepresentation istället]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="si:Student">
        <xs:sequence>
          <xs:element minOccurs="0" name="Anteckning" type="xs:string"/>
          <xs:element minOccurs="0" name="HanvisningFranStudentUID" type="xs:string"/>
          <xs:element name="SparlostByte" type="xs:boolean"/>
          <xs:element minOccurs="0" name="TypI18n" type="xs:string"/>
          <xs:element minOccurs="0" name="UrsprungligtLarosateID" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="StudieavgiftsskyldigheterHistorik">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" ref="si:StudieavgiftsskyldighetHistorik"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="StudieavgiftsskyldighetHistorik">
    <xs:complexContent>
      <xs:extension base="si:Studieavgiftsskyldighet">
        <xs:sequence>
          <xs:element minOccurs="0" name="Handelsetyp" type="base:Handelsetyp"/>
          <xs:element minOccurs="0" name="StudieavgiftsskyldighetUID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Studieavgiftsskyldighet">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element minOccurs="0" name="Anteckning" type="xs:string"/>
          <xs:element minOccurs="0" name="Avgiftsskyldighetsvarde" type="si:Avgiftsskyldighetsvarde"/>
          <xs:element minOccurs="0" name="Beslutsdatum" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="Beslutsordning" type="xs:int"/>
          <xs:element name="Borttagen" type="xs:boolean"/>
          <xs:element minOccurs="0" name="Giltighetsperiod" type="base:Datumperiod"/>
          <xs:element minOccurs="0" name="OrsakEjAvgiftsskyldigID" type="xs:int"/>
          <xs:element minOccurs="0" name="StudentUID" type="xs:string"/>
          <xs:element minOccurs="0" name="Ursprung" type="si:Ursprung"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Studieavgiftsskyldigheter">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="si:Studieavgiftsskyldighet"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SokresultatExternStudentRepresentation">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Resultat" type="si:ExternStudent"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SokresultatStudentinformationRepresentation">
    <xs:complexContent>
      <xs:extension base="base:Sokresultat">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Resultat" type="si:StudentISokresultat">
<xs:annotation>
<xs:documentation><![CDATA[Lista med poster som kan vara en delmängd av det totala resultatet, givet paginering]]></xs:documentation>
</xs:annotation>
</xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="LarosatesinformationLista">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="si:Larosatesinformation"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Larosatesinformation">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OrsakerAvstangning">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="si:OrsakAvstangning"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OrsakAvstangning">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OrsakerEjAvgiftsskyldig">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="si:OrsakEjAvgiftsskyldig"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OrsakEjAvgiftsskyldig">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Avskiljandebeslut">
    <xs:complexContent>
      <xs:extension base="si:Studentrestriktion">
        <xs:sequence>
          <xs:element minOccurs="0" name="Avskiljandestatus" type="si:Avskiljandestatus"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType abstract="true" name="Studentrestriktion">
<xs:annotation>
<xs:documentation><![CDATA[Basklass för studentrestriktioners representationer]]></xs:documentation>
</xs:annotation>
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element minOccurs="0" name="Anteckning" type="xs:string"/>
          <xs:element minOccurs="0" name="Giltighetsperiod" type="base:Datumperiod"/>
          <xs:element minOccurs="0" name="StudentUID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AvskiljandebeslutLista">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="si:Avskiljandebeslut"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Avstangningar">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="si:Avstangning"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Avstangning">
    <xs:complexContent>
      <xs:extension base="si:Studentrestriktion">
        <xs:sequence>
          <xs:element minOccurs="0" name="OrsakID" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="PostadressTypRepresentation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FOLKBOKFORINGSADRESS"/>
      <xs:enumeration value="POSTADRESS"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="RestriktionstypEventPart">
<xs:annotation>
<xs:documentation><![CDATA[Del av händelse för studentrestriktioner. Särskiljer studentrestriktioner i typerna AVSTÄNGNING och AVSKILJANDE.]]></xs:documentation>
</xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="AVSTANGNING"/>
      <xs:enumeration value="AVSKILJANDE"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Avgiftsskyldighetsvarde">
<xs:annotation>
<xs:documentation><![CDATA[Definierar möjliga värden rörande en students avgiftsskyldighet för studieavgifter. Möjliga värden är Avgiftsskyldig eller Ej
Avgiftsskyldig.
Avsaknad av dokumenterad avgiftsskyldighet innebär per automatik att studenten är Ej Prövad. Det explicita värdet EJ_PRÖVAD behövs
alltså inte och kommer fasas ut.]]></xs:documentation>
</xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="1"/>
      <xs:enumeration value="2"/>
      <xs:enumeration value="3"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Ursprung">
<xs:annotation>
<xs:documentation><![CDATA[Definierar möjliga värden rörande en students avgiftsskyldighets ursprung.]]></xs:documentation>
</xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="NYA_MASKINELLT"/>
      <xs:enumeration value="NYA_MANUELLT"/>
      <xs:enumeration value="LADOK_MASKINELLT"/>
      <xs:enumeration value="LADOK_MANUELLT"/>
      <xs:enumeration value="FOLKBOKFORING"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Felkalla">
<xs:annotation>
<xs:documentation><![CDATA[Representerar den felkälla som ett hinder eller en varning kan ha.]]></xs:documentation>
</xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="PERSONNUMMER"/>
      <xs:enumeration value="EFTERNAMN"/>
      <xs:enumeration value="FORNAMN"/>
      <xs:enumeration value="FODELSEDATUM"/>
      <xs:enumeration value="KON"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Avskiljandestatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="1"/>
      <xs:enumeration value="2"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
