src/main/resources/xsd/schemas.ladok.se-atom.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:atom="http://www.w3.org/2005/Atom" targetNamespace="http://www.w3.org/2005/Atom" version="1.0">

  <xs:complexType name="benamningar">
    <xs:sequence>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="entry" type="atom:entry"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="entry">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="key" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="value" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
