src/main/resources/xsd-rest/schemas.ladok.se-studentinformation.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:base="http://schemas.ladok.se" xmlns:dap="http://schemas.ladok.se/dap" xmlns:si="http://schemas.ladok.se/studentinformation" elementFormDefault="qualified" targetNamespace="http://schemas.ladok.se/studentinformation" version="1.0">

  <xs:import namespace="http://schemas.ladok.se" schemaLocation="schemas.ladok.se.xsd"/>

  <xs:import namespace="http://schemas.ladok.se/dap" schemaLocation="schemas.ladok.se-dap.xsd"/>

  <xs:element name="Avskiljandebeslut" type="si:Avskiljandebeslut"/>

  <xs:element name="AvskiljandebeslutLista" type="si:AvskiljandebeslutLista"/>

  <xs:element name="Avstangning" type="si:Avstangning"/>

  <xs:element name="Avstangningar" type="si:Avstangningar"/>

  <xs:element name="Kontaktuppgifter" type="si:Kontaktuppgifter"/>

  <xs:element name="Larosatesinformation" type="si:Larosatesinformation"/>

  <xs:element name="LarosatesinformationLista" type="si:LarosatesinformationLista"/>

  <xs:element name="OrsakAvstangning" type="si:OrsakAvstangning"/>

  <xs:element name="OrsakEjAvgiftsskyldig" type="si:OrsakEjAvgiftsskyldig"/>

  <xs:element name="OrsakerAvstangning" type="si:OrsakerAvstangning"/>

  <xs:element name="OrsakerEjAvgiftsskyldig" type="si:OrsakerEjAvgiftsskyldig"/>

  <xs:element name="Postadress" type="si:Postadress"/>

  <xs:element name="SokresultatStudentinformationRepresentation" type="si:SokresultatStudentinformationRepresentation"/>

  <xs:element name="Student" type="si:Student"/>

  <xs:element name="StudentISokresultat" type="si:StudentISokresultat"/>

  <xs:element name="Studenter" type="si:Studenter"/>

  <xs:element name="Studenthistorikpost" type="si:Studenthistorikpost"/>

  <xs:element name="Studenthistorikposter" type="si:Studenthistorikposter"/>

  <xs:element name="Studieavgiftsskyldighet" type="si:Studieavgiftsskyldighet"/>

  <xs:element name="StudieavgiftsskyldighetHistorik" type="si:StudieavgiftsskyldighetHistorik"/>

  <xs:element name="Studieavgiftsskyldigheter" type="si:Studieavgiftsskyldigheter"/>

  <xs:element name="StudieavgiftsskyldigheterHistorik" type="si:StudieavgiftsskyldigheterHistorik"/>

  <xs:element name="UnikIdentifierare" type="si:UnikIdentifierare"/>

  <xs:element name="UnikaIdentifierare" type="si:UnikaIdentifierare"/>

  <xs:complexType name="OrsakAvstangning">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OrsakerAvstangning">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="si:OrsakAvstangning"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AvskiljandebeslutLista">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="si:Avskiljandebeslut"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Avskiljandebeslut">
    <xs:complexContent>
      <xs:extension base="si:Studentrestriktion">
        <xs:sequence>
          <xs:element minOccurs="0" name="Avskiljandestatus" type="si:Avskiljandestatus"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType abstract="true" name="Studentrestriktion">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element minOccurs="0" name="Anteckning" type="xs:string"/>
          <xs:element minOccurs="0" name="Giltighetsperiod" type="base:Datumperiod"/>
          <xs:element minOccurs="0" name="StudentUID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Studieavgiftsskyldigheter">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="si:Studieavgiftsskyldighet"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Studieavgiftsskyldighet">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element minOccurs="0" name="Anteckning" type="xs:string"/>
          <xs:element minOccurs="0" name="Avgiftsskyldighetsvarde" type="si:Avgiftsskyldighetsvarde"/>
          <xs:element minOccurs="0" name="Beslutsdatum" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="Beslutsordning" type="xs:int"/>
          <xs:element name="Borttagen" type="xs:boolean"/>
          <xs:element minOccurs="0" name="Giltighetsperiod" type="base:Datumperiod"/>
          <xs:element minOccurs="0" name="OrsakEjAvgiftsskyldigID" type="xs:int"/>
          <xs:element minOccurs="0" name="StudentUID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Postadress">
    <xs:sequence>
      <xs:element minOccurs="0" name="CareOf" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Land" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="PostadressTyp" type="si:PostadressTypRepresentation"/>
      <xs:element minOccurs="0" name="Postnummer" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Postort" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="Utdelningsadress" nillable="true" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="SenastAndrad" type="xs:dateTime"/>
  </xs:complexType>

  <xs:complexType name="UnikIdentifierare">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element minOccurs="0" name="Typ" type="xs:string"/>
          <xs:element minOccurs="0" name="Varde" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="LarosatesinformationLista">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="si:Larosatesinformation"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Larosatesinformation">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OrsakerEjAvgiftsskyldig">
    <xs:complexContent>
      <xs:extension base="base:Grunddatavardelista">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="si:OrsakEjAvgiftsskyldig"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OrsakEjAvgiftsskyldig">
    <xs:complexContent>
      <xs:extension base="base:EnkeltGrunddatavarde">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Studenthistorikposter">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Student" type="si:Studenthistorikpost"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Studenthistorikpost">
    <xs:complexContent>
      <xs:extension base="si:Student">
        <xs:sequence>
          <xs:element name="SparlostByte" type="xs:boolean"/>
          <xs:element minOccurs="0" name="UrsprungligtLarosateID" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Student">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element name="Avliden" type="xs:boolean"/>
          <xs:element minOccurs="0" name="Efternamn" type="xs:string"/>
          <xs:element minOccurs="0" name="Fodelsedata" type="xs:string"/>
          <xs:element minOccurs="0" name="Fornamn" type="xs:string"/>
          <xs:element minOccurs="0" name="KonID" type="xs:int"/>
          <xs:element minOccurs="0" name="Personnummer" type="xs:string"/>
          <xs:element minOccurs="0" ref="si:UnikaIdentifierare"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UnikaIdentifierare">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="si:UnikIdentifierare"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SokresultatStudentinformationRepresentation">
    <xs:complexContent>
      <xs:extension base="base:Sokresultat">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Resultat" type="si:StudentISokresultat"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="StudentISokresultat">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element minOccurs="0" name="Efternamn" type="xs:string"/>
          <xs:element minOccurs="0" name="Fornamn" type="xs:string"/>
          <xs:element minOccurs="0" name="Personnummer" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="StudieavgiftsskyldighetHistorik">
    <xs:complexContent>
      <xs:extension base="si:Studieavgiftsskyldighet">
        <xs:sequence>
          <xs:element minOccurs="0" name="Handelsetyp" type="base:Handelsetyp"/>
          <xs:element minOccurs="0" name="StudieavgiftsskyldighetUID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Avstangningar">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="si:Avstangning"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Avstangning">
    <xs:complexContent>
      <xs:extension base="si:Studentrestriktion">
        <xs:sequence>
          <xs:element minOccurs="0" name="OrsakID" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="StudieavgiftsskyldigheterHistorik">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" ref="si:StudieavgiftsskyldighetHistorik"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Kontaktuppgifter">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element minOccurs="0" name="Epostadress" type="xs:string"/>
          <xs:element minOccurs="0" name="EpostadressSenastAndrad" type="xs:dateTime"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Postadresser" nillable="true" type="si:Postadress"/>
          <xs:element minOccurs="0" name="StudentUID" type="xs:string"/>
          <xs:element minOccurs="0" name="Telefonnummer" type="xs:string"/>
          <xs:element minOccurs="0" name="TelefonnummerSenastAndrad" type="xs:dateTime"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Studenter">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="si:Student"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="Avskiljandestatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="2"/>
      <xs:enumeration value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Avgiftsskyldighetsvarde">
    <xs:restriction base="xs:string">
      <xs:enumeration value="1"/>
      <xs:enumeration value="2"/>
      <xs:enumeration value="3"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="PostadressTypRepresentation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FOLKBOKFORINGSADRESS"/>
      <xs:enumeration value="POSTADRESS"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
