src/main/resources/xsd-atom/schemas.ladok.se-kataloginformation.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:av="http://schemas.ladok.se/avisering" xmlns:base="http://schemas.ladok.se" xmlns:dap="http://schemas.ladok.se/dap" xmlns:events="http://schemas.ladok.se/events" xmlns:ki="http://schemas.ladok.se/kataloginformation" elementFormDefault="qualified" targetNamespace="http://schemas.ladok.se/kataloginformation" version="1.0">

  <xs:import namespace="http://schemas.ladok.se/events" schemaLocation="schemas.ladok.se-events.xsd"/>

  <xs:import namespace="http://schemas.ladok.se" schemaLocation="schemas.ladok.se.xsd"/>

  <xs:import namespace="http://schemas.ladok.se/dap" schemaLocation="schemas.ladok.se-dap.xsd"/>

  <xs:element name="AktivitetSomKraverAterautentiseringEvent" type="ki:AktivitetSomKraverAterautentiseringEvent"/>

  <xs:element name="AktivitetstillfallestypEvent" type="ki:AktivitetstillfallestypEvent"/>

  <xs:element name="AmnesgruppEvent" type="ki:AmnesgruppEvent"/>

  <xs:element name="AmnesklassEvent" type="ki:AmnesklassEvent"/>

  <xs:element name="AmnesordEvent" type="ki:AmnesordEvent"/>

  <xs:element name="AntagningsomgangEvent" type="ki:AntagningsomgangEvent"/>

  <xs:element name="Anvandarbehorighet" type="ki:Anvandarbehorighet"/>

  <xs:element name="AnvandareAndradEvent" type="ki:AnvandareAndradEvent"/>

  <xs:element name="AnvandareBaseEvent" type="ki:AnvandareBaseEvent"/>

  <xs:element name="AnvandareRESTRef" type="ki:AnvandareRESTRef"/>

  <xs:element name="AnvandareSkapadEvent" type="ki:AnvandareSkapadEvent"/>

  <xs:element name="BehorighetsprofilEvent" type="ki:BehorighetsprofilEvent"/>

  <xs:element name="BetygsskalaEvent" type="ki:BetygsskalaEvent"/>

  <xs:element name="BeviskategoriEvent" type="ki:BeviskategoriEvent"/>

  <xs:element name="EnhetEvent" type="ki:EnhetEvent"/>

  <xs:element name="ExternPartEvent" type="ki:ExternPartEvent"/>

  <xs:element name="FinansieringsformEvent" type="ki:FinansieringsformEvent"/>

  <xs:element name="FordjupningsnivaEvent" type="ki:FordjupningsnivaEvent"/>

  <xs:element name="ForkunskapsnivaEvent" type="ki:ForkunskapsnivaEvent"/>

  <xs:element name="HuvudomradesgruppEvent" type="ki:HuvudomradesgruppEvent"/>

  <xs:element name="KommunEvent" type="ki:KommunEvent"/>

  <xs:element name="KonfigurationAvAterautentiseringEvent" type="ki:KonfigurationAvAterautentiseringEvent"/>

  <xs:element name="KonfigurationsobjektEvent" type="ki:KonfigurationsobjektEvent"/>

  <xs:element name="KravPaTidigareStudierEvent" type="ki:KravPaTidigareStudierEvent"/>

  <xs:element name="LanEvent" type="ki:LanEvent"/>

  <xs:element name="LandEvent" type="ki:LandEvent"/>

  <xs:element name="LarosatesinformationEvent" type="ki:LarosatesinformationEvent"/>

  <xs:element name="MarkningsnyckelEvent" type="ki:MarkningsnyckelEvent"/>

  <xs:element name="MarkningsvardeEvent" type="ki:MarkningsvardeEvent"/>

  <xs:element name="NationellExamensgruppEvent" type="ki:NationellExamensgruppEvent"/>

  <xs:element name="NationelltForskningsamneEvent" type="ki:NationelltForskningsamneEvent"/>

  <xs:element name="NationelltUndervisningsamneEvent" type="ki:NationelltUndervisningsamneEvent"/>

  <xs:element name="NivaInomStudieordningEvent" type="ki:NivaInomStudieordningEvent"/>

  <xs:element name="OmradesbehorighetEvent" type="ki:OmradesbehorighetEvent"/>

  <xs:element name="OrganisationSkapadEvent" type="ki:OrganisationSkapadEvent"/>

  <xs:element name="OrganisationUppdateradEvent" type="ki:OrganisationUppdateradEvent"/>

  <xs:element name="OrganisationsenhetstypEvent" type="ki:OrganisationsenhetstypEvent"/>

  <xs:element name="OrganisationskopplingEvent" type="ki:OrganisationskopplingEvent"/>

  <xs:element name="OrganisationskopplingSkapadEvent" type="ki:OrganisationskopplingSkapadEvent"/>

  <xs:element name="OrganisationskopplingUppdateradEvent" type="ki:OrganisationskopplingUppdateradEvent"/>

  <xs:element name="OrganisationskopplingstypEvent" type="ki:OrganisationskopplingstypEvent"/>

  <xs:element name="OrsakAvstangningEvent" type="ki:OrsakAvstangningEvent"/>

  <xs:element name="OrsakEjAvgiftsskyldigEvent" type="ki:OrsakEjAvgiftsskyldigEvent"/>

  <xs:element name="PeriodEvent" type="ki:PeriodEvent"/>

  <xs:element name="PeriodtypEvent" type="ki:PeriodtypEvent"/>

  <xs:element name="PraktiktypEvent" type="ki:PraktiktypEvent"/>

  <xs:element name="Regelvarde" type="ki:Regelvarde"/>

  <xs:element name="RegelverkForUtbildningstyp" type="ki:RegelverkForUtbildningstyp"/>

  <xs:element name="SakerhetsnivaForAterautentiseringEvent" type="ki:SakerhetsnivaForAterautentiseringEvent"/>

  <xs:element name="StudiefinansieringEvent" type="ki:StudiefinansieringEvent"/>

  <xs:element name="StudielokaliseringEvent" type="ki:StudielokaliseringEvent"/>

  <xs:element name="StudieordningEvent" type="ki:StudieordningEvent"/>

  <xs:element name="StudietaktEvent" type="ki:StudietaktEvent"/>

  <xs:element name="SuccessivFordjupningEvent" type="ki:SuccessivFordjupningEvent"/>

  <xs:element name="SvenskOrtEvent" type="ki:SvenskOrtEvent"/>

  <xs:element name="TilltradesnivaEvent" type="ki:TilltradesnivaEvent"/>

  <xs:element name="TypAvExternPartEvent" type="ki:TypAvExternPartEvent"/>

  <xs:element name="UndervisningsformEvent" type="ki:UndervisningsformEvent"/>

  <xs:element name="UndervisningssprakEvent" type="ki:UndervisningssprakEvent"/>

  <xs:element name="UndervisningstidEvent" type="ki:UndervisningstidEvent"/>

  <xs:element name="UtbildningsformEvent" type="ki:UtbildningsformEvent"/>

  <xs:element name="UtbildningsomradeEvent" type="ki:UtbildningsomradeEvent"/>

  <xs:element name="UtbildningstypEvent" type="ki:UtbildningstypEvent"/>

  <xs:element name="UtbildningstypRelationerEvent" type="ki:UtbildningstypRelationerEvent"/>

  <xs:element name="UtbytesprogramEvent" type="ki:UtbytesprogramEvent"/>

  <xs:element name="UtlandskOrtEvent" type="ki:UtlandskOrtEvent"/>

  <xs:complexType name="KonfigurationsobjektEvent">
    <xs:complexContent>
      <xs:extension base="events:BaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="Kategori" type="xs:string"/>
          <xs:element minOccurs="0" name="Varde" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="KravPaTidigareStudierEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="Emilvarde" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="LarosatesinformationEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="LarosateID" type="xs:string"/>
          <xs:element minOccurs="0" name="OrtID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OrganisationSkapadEvent">
    <xs:complexContent>
      <xs:extension base="ki:OrganisationEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType abstract="true" name="OrganisationEvent">
    <xs:complexContent>
      <xs:extension base="events:BaseEvent">
        <xs:sequence>
          <xs:element name="Benamningar">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="0" name="key" type="xs:string"/>
                      <xs:element minOccurs="0" name="value" type="xs:string"/>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="Giltighetsperiod" type="base:Datumperiod"/>
          <xs:element minOccurs="0" name="OrganisationUID" type="xs:string"/>
          <xs:element minOccurs="0" name="OrganisationsenhetstypID" type="xs:int"/>
          <xs:element minOccurs="0" name="Organisationskod" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType abstract="true" name="AnvandareBaseEvent">
    <xs:complexContent>
      <xs:extension base="events:BaseEvent">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ki:Anvandarbehorighet"/>
          <xs:element minOccurs="0" name="AnvandareUID" type="xs:string"/>
          <xs:element minOccurs="0" name="Anvandarnamnet" type="xs:string"/>
          <xs:element minOccurs="0" name="Efternamn" type="xs:string"/>
          <xs:element minOccurs="0" name="Fornamn" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Anvandarbehorighet">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element minOccurs="0" name="AnvandareRef" type="ki:AnvandareRESTRef"/>
          <xs:element minOccurs="0" name="BehorighetsprofilRef" type="base:RESTRef"/>
          <xs:element minOccurs="0" name="BestalldTidpunkt" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="OrganisationRef" type="base:RESTRef"/>
          <xs:element minOccurs="0" name="Status" type="ki:Anvandarbehorighetsstatus"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AnvandareRESTRef">
    <xs:sequence>
      <xs:element minOccurs="0" name="Anvandarnamn" type="xs:string"/>
      <xs:element minOccurs="0" name="Efternamn" type="xs:string"/>
      <xs:element minOccurs="0" name="Fornamn" type="xs:string"/>
      <xs:element minOccurs="0" name="link" type="dap:RelationLink"/>
      <xs:element minOccurs="0" name="Uid" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="OrganisationskopplingstypEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ForkunskapsnivaEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TypAvExternPartEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="PeriodEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="PeriodtypId" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="LandEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OrganisationUppdateradEvent">
    <xs:complexContent>
      <xs:extension base="ki:OrganisationEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UtbildningsomradeEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="BehorighetsprofilEvent">
    <xs:complexContent>
      <xs:extension base="events:BaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="Benamningar" type="base:Benamningar"/>
          <xs:element minOccurs="0" name="EventTyp" type="xs:string"/>
          <xs:element minOccurs="0" name="Rattighetsniva" type="ki:Rattighetsniva"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Systemaktiviteter" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="BetygsgradEventPart">
    <xs:sequence>
      <xs:element minOccurs="0" name="Benamningar" type="base:Benamningar"/>
      <xs:element minOccurs="0" name="Betygskod" type="xs:string"/>
      <xs:element name="GiltigSomSlutbetyg" type="xs:boolean"/>
      <xs:element minOccurs="0" name="Id" type="xs:string"/>
      <xs:element name="Ordningsnummer" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PeriodtypEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UtbytesprogramEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="EnhetEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence>
          <xs:element name="Helarsvarde" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="KonfigurationAvAterautentiseringEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="AktivitetSomKraverAterAutentiseringID" type="xs:string"/>
          <xs:element minOccurs="0" name="SakerhetsnivaForAterautentiseringID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="KommunEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="LanID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AktivitetSomKraverAterautentiseringEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OrganisationskopplingSkapadEvent">
    <xs:complexContent>
      <xs:extension base="ki:OrganisationskopplingEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OrganisationskopplingEvent">
    <xs:complexContent>
      <xs:extension base="events:BaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="OrganisationskopplingUID" type="xs:string"/>
          <xs:element minOccurs="0" name="OrganisationskopplingstypID" type="xs:int"/>
          <xs:element minOccurs="0" name="UnderliggandeorganisationUID" type="xs:string"/>
          <xs:element minOccurs="0" name="OverliggandeorganisationUID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="StudietaktEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="Takt" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OrsakEjAvgiftsskyldigEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UndervisningstidEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AktivitetstillfallestypEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AmnesgruppEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="StudieordningEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="EnhetID" type="xs:string"/>
          <xs:element minOccurs="0" name="UtbildningsformID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="NationellExamensgruppEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="HuvudomradesgruppEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="FordjupningsnivaEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UtbildningstypRelationerEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="TillfalleInomUtbildningstyper" type="xs:int"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="UnderliggandeUtbildningstyper" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OrganisationskopplingUppdateradEvent">
    <xs:complexContent>
      <xs:extension base="ki:OrganisationskopplingEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AnvandareSkapadEvent">
    <xs:complexContent>
      <xs:extension base="ki:AnvandareBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ExternPartEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="LandID" type="xs:string"/>
          <xs:element minOccurs="0" name="TypAvExternPartID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="NationelltForskningsamneEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="StudiefinansieringEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="BeviskategoriEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="PraktiktypEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UtbildningstypEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence>
          <xs:element name="AvserTillfalle" type="xs:boolean"/>
          <xs:element minOccurs="0" name="Grundtyp" type="xs:string"/>
          <xs:element minOccurs="0" name="NivaInomStudieordningID" nillable="true" type="xs:int"/>
          <xs:element minOccurs="0" name="Regelverk" type="ki:RegelverkForUtbildningstyp"/>
          <xs:element minOccurs="0" name="Sorteringsordning" type="xs:int"/>
          <xs:element minOccurs="0" name="StudieordningID" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="RegelverkForUtbildningstyp">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Regelvarden" type="ki:Regelvarde"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Regelvarde">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element name="Regelnamn" type="xs:string"/>
          <xs:element name="Varde" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UndervisningssprakEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OmradesbehorighetEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="Emilvarde" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OrsakAvstangningEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AntagningsomgangEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="SistaAnmalningsdag" type="xs:date"/>
          <xs:element minOccurs="0" name="SistaAnnonseringsdag" type="xs:date"/>
          <xs:element name="Studieavgiftsbelagd" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SakerhetsnivaForAterautentiseringEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AnvandareAndradEvent">
    <xs:complexContent>
      <xs:extension base="ki:AnvandareBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AmnesordEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UtbildningsformEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="BetygsskalaEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Betygsgrader" type="ki:BetygsgradEventPart"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OrganisationsenhetstypEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UtlandskOrtEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="LandID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="MarkningsnyckelEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="StudielokaliseringEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="OrtID" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="FinansieringsformEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="NivaInomStudieordningEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UndervisningsformEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SuccessivFordjupningEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="NivaInomStudieordningID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SvenskOrtEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="KommunID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="NationelltUndervisningsamneEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AmnesklassEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="LanEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="MarkningsvardeEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="MarkningsnyckelID" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TilltradesnivaEvent">
    <xs:complexContent>
      <xs:extension base="events:grunddataBaseEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="Anvandarbehorighetsstatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AKTIV"/>
      <xs:enumeration value="INAKTIV"/>
      <xs:enumeration value="OBEHANDLAD"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Rattighetsniva">
    <xs:restriction base="xs:string">
      <xs:enumeration value="rattighetsniva.lokal"/>
      <xs:enumeration value="rattighetsniva.nationell"/>
      <xs:enumeration value="rattighetsniva.student"/>
      <xs:enumeration value="rattighetsniva.las"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
