src/main/resources/xsd-atom/schemas.ladok.se-utbildningsinformation.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:base="http://schemas.ladok.se" xmlns:dap="http://schemas.ladok.se/dap" xmlns:events="http://schemas.ladok.se/events" xmlns:ui="http://schemas.ladok.se/utbildningsinformation" elementFormDefault="qualified" targetNamespace="http://schemas.ladok.se/utbildningsinformation" version="1.0">

  <xs:import namespace="http://schemas.ladok.se" schemaLocation="schemas.ladok.se.xsd"/>

  <xs:import namespace="http://schemas.ladok.se/events" schemaLocation="schemas.ladok.se-events.xsd"/>

  <xs:import namespace="http://schemas.ladok.se/dap" schemaLocation="schemas.ladok.se-dap.xsd"/>

  <xs:element name="AbstraktStrukturEvent" type="ui:AbstraktStrukturEvent"/>

  <xs:element name="BoxEventPart" type="ui:BoxEventPart"/>

  <xs:element name="BoxPubliceradEvent" type="ui:BoxPubliceradEvent"/>

  <xs:element name="KursTillStatusEvent" type="ui:KursTillStatusEvent"/>

  <xs:element name="KursUppdateradEvent" type="ui:KursUppdateradEvent"/>

  <xs:element name="KurspaketeringTillStatusEvent" type="ui:KurspaketeringTillStatusEvent"/>

  <xs:element name="KurspaketeringUppdateradEvent" type="ui:KurspaketeringUppdateradEvent"/>

  <xs:element name="KurspaketeringstillfalleTillStatusEvent" type="ui:KurspaketeringstillfalleTillStatusEvent"/>

  <xs:element name="KurspaketeringstillfalleUppdateratEvent" type="ui:KurspaketeringstillfalleUppdateratEvent"/>

  <xs:element name="KurstillfalleTillStatusEvent" type="ui:KurstillfalleTillStatusEvent"/>

  <xs:element name="KurstillfalleUppdateratEvent" type="ui:KurstillfalleUppdateratEvent"/>

  <xs:element name="ModulTillStatusEvent" type="ui:ModulTillStatusEvent"/>

  <xs:element name="ModulUppdateradEvent" type="ui:ModulUppdateradEvent"/>

  <xs:element name="StrukturEvent" type="ui:StrukturEvent"/>

  <xs:element name="StrukturIStatus2" type="ui:StrukturIStatus2"/>

  <xs:element name="Tillfallesperiod" type="ui:Tillfallesperiod"/>

  <xs:element name="UtannonseraUtbildningstillfalleEvent" type="ui:UtannonseraUtbildningstillfalleEvent"/>

  <xs:element name="UtbildningAvveckladEvent" type="ui:UtbildningAvveckladEvent"/>

  <xs:element name="Utbildningsattributvarde" type="ui:Utbildningsattributvarde"/>

  <xs:element name="UtbildningsinstansPaUtbildningstillfalleAndradEvent" type="ui:UtbildningsinstansPaUtbildningstillfalleAndradEvent"/>

  <xs:element name="UtbildningsinstansboxEventPart" type="ui:UtbildningsinstansboxEventPart"/>

  <xs:element name="UtbildningsmallPubliceradEvent" type="ui:UtbildningsmallPubliceradEvent"/>

  <xs:element name="UtbildningsomradePerOrganisation" type="ui:UtbildningsomradePerOrganisation"/>

  <xs:element name="Utbildningsomradesfordelning" type="ui:Utbildningsomradesfordelning"/>

  <xs:element name="UtbildningstillfalleInstalltEvent" type="ui:UtbildningstillfalleInstalltEvent"/>

  <xs:element name="UtbildningstillfallesboxEventBox" type="ui:UtbildningstillfallesboxEventBox"/>

  <xs:element name="ValboxEventPart" type="ui:ValboxEventPart"/>

  <xs:element name="ValjOmfattningRegelEventPart" type="ui:ValjOmfattningRegelEventPart"/>

  <xs:element name="ValjXRegelEventPart" type="ui:ValjXRegelEventPart"/>

  <xs:element name="Versionsinformation" type="ui:Versionsinformation"/>

  <xs:complexType name="KursTillStatusEvent">
    <xs:complexContent>
      <xs:extension base="ui:KursEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType abstract="true" name="KursEvent">
    <xs:complexContent>
      <xs:extension base="ui:UtbildningsinstansbasEvent">
        <xs:sequence>
          <xs:element name="Kursattribut" type="ui:KursattributEventPart"/>
          <xs:element minOccurs="0" name="Kurskod" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType abstract="true" name="UtbildningsinstansbasEvent">
    <xs:complexContent>
      <xs:extension base="ui:UtbildningsattributbasEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="Benamningar" type="base:Benamningar"/>
          <xs:element minOccurs="0" name="EnhetID" type="xs:int"/>
          <xs:element minOccurs="0" name="Omfattningsvarde" type="xs:string"/>
          <xs:element minOccurs="0" name="StudieordningID" type="xs:int"/>
          <xs:element minOccurs="0" name="UtbildningsformID" type="xs:int"/>
          <xs:element minOccurs="0" name="Utbildningskod" type="xs:string"/>
          <xs:element ref="ui:Versionsinformation"/>
          <xs:element minOccurs="0" name="OverliggandeUtbildningsinstansUID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType abstract="true" name="UtbildningsattributbasEvent">
    <xs:complexContent>
      <xs:extension base="events:BaseEvent">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="LokalMarkning" type="ui:LokalMarkningEventPart"/>
          <xs:element minOccurs="0" name="OrganisationUID" type="xs:string"/>
          <xs:element name="Status" type="xs:int"/>
          <xs:element minOccurs="0" name="UtbildningUID" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Attributvarde" type="ui:Utbildningsattributvarde"/>
          <xs:element minOccurs="0" name="UtbildningsinstansUID" type="xs:string"/>
          <xs:element minOccurs="0" name="UtbildningstypID" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="KursattributEventPart">
    <xs:sequence>
      <xs:element minOccurs="0" name="BetygsskalaID" type="xs:int"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="HuvudomradeMedSuccessivFordjupning" type="ui:HuvudomradeSuccessivFordjupningEventPart"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="MarkningForBevis" type="ui:MarkningForBevisEventPart"/>
      <xs:element minOccurs="0" name="NivaInomStudieordningID" type="xs:int"/>
      <xs:element minOccurs="0" name="TitelSkaAnges" type="xs:boolean"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="UtbildningsomradeFordelning" type="ui:UtbildningsomradePerOrganisation"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="HuvudomradeSuccessivFordjupningEventPart">
    <xs:sequence>
      <xs:element minOccurs="0" name="HuvudomradeID" type="xs:int"/>
      <xs:element name="SuccessivFordjupningID" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="MarkningForBevisEventPart">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExamensamneID" type="xs:int"/>
      <xs:element minOccurs="0" name="Omfattningsvarde" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="UtbildningsomradePerOrganisation">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element minOccurs="0" name="OrganisationUID" type="xs:string"/>
          <xs:element minOccurs="0" name="Procent" type="xs:int"/>
          <xs:element minOccurs="0" name="UtbildningsomradeID" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Versionsinformation">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element minOccurs="0" name="Anteckning" type="xs:string"/>
          <xs:element name="GiltigFranPeriodID" type="ui:PeriodID"/>
          <xs:element minOccurs="0" name="Versionsnummer" type="xs:int"/>
          <xs:element minOccurs="0" name="ArSenasteVersion" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="PeriodID">
    <xs:simpleContent>
      <xs:extension base="ui:Integer"/>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="Integer">
    <xs:restriction base="xs:int"/>
  </xs:simpleType>

  <xs:complexType name="LokalMarkningEventPart">
    <xs:sequence>
      <xs:element name="Markningsnyckel" type="xs:int"/>
      <xs:element name="Markningsvarde" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Utbildningsattributvarde">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element minOccurs="0" name="AttributdefinitionUID" type="xs:string"/>
          <xs:element name="Grupp" type="xs:int"/>
          <xs:element minOccurs="0" name="Namn" type="xs:string"/>
          <xs:element minOccurs="0" name="Varde" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="KurstillfalleUppdateratEvent">
    <xs:complexContent>
      <xs:extension base="ui:KurstillfalleEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType abstract="true" name="KurstillfalleEvent">
    <xs:complexContent>
      <xs:extension base="ui:TillfallesbasEvent">
        <xs:sequence>
          <xs:element name="Kurstillfallesattribut" type="ui:KurstillfallesattributEventPart"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Kurstillfallesperioder" type="ui:Tillfallesperiod"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType abstract="true" name="TillfallesbasEvent">
    <xs:complexContent>
      <xs:extension base="ui:UtbildningsattributbasEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="Avgiftsbelagt" type="xs:boolean"/>
          <xs:element minOccurs="0" name="StartperiodID" type="xs:int"/>
          <xs:element minOccurs="0" name="StudielokaliseringID" type="xs:int"/>
          <xs:element minOccurs="0" name="StudietaktID" type="xs:int"/>
          <xs:element minOccurs="0" name="UndervisningsformID" type="xs:int"/>
          <xs:element minOccurs="0" name="UndervisningstidID" type="xs:int"/>
          <xs:element minOccurs="0" name="UtbildningUtbildningstypID" type="xs:int"/>
          <xs:element minOccurs="0" name="UtbildningstillfalleUID" type="xs:string"/>
          <xs:element minOccurs="0" name="Utbildningstillfalleskod" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="KurstillfallesattributEventPart">
    <xs:sequence>
      <xs:element minOccurs="0" name="Finansieringsform" type="xs:int"/>
      <xs:element minOccurs="0" name="IndividuelltAtagandeReferensUID" type="xs:string"/>
      <xs:element minOccurs="0" name="TillfallesByteForStudentTillatet" type="xs:boolean"/>
      <xs:element minOccurs="0" name="Undervisningsform" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Tillfallesperiod">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element minOccurs="0" name="ForstaRegistreringsdatum" type="xs:date"/>
          <xs:element name="ForstaUndervisningsdatum" type="xs:date"/>
          <xs:element name="Omfattningsvarde" type="xs:decimal"/>
          <xs:element minOccurs="0" name="SistaRegistreringsdatum" type="xs:date"/>
          <xs:element name="SistaUndervisningsdatum" type="xs:date"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" ref="ui:UtbildningsomradePerOrganisation"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UtannonseraUtbildningstillfalleEvent">
    <xs:complexContent>
      <xs:extension base="events:BaseEvent">
        <xs:sequence>
          <xs:element name="UtbildningstillfalleUID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType abstract="true" name="ModulEvent">
    <xs:complexContent>
      <xs:extension base="ui:UtbildningsinstansbasEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="BetygsskalaID" type="xs:int"/>
          <xs:element minOccurs="0" name="Obligatorisk" type="xs:boolean"/>
          <xs:element minOccurs="0" name="TitelSkaAnges" type="xs:boolean"/>
          <xs:element minOccurs="0" ref="ui:Utbildningsomradesfordelning"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Utbildningsomradesfordelning">
    <xs:complexContent>
      <xs:extension base="dap:Base">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="UtbildningsomradenPerOrganisation" type="ui:UtbildningsomradePerOrganisation"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UtbildningsinstansboxEventPart">
    <xs:complexContent>
      <xs:extension base="ui:BoxEventPart">
        <xs:sequence>
          <xs:element name="UtbildningsinstansUID" type="xs:string"/>
          <xs:element name="UtbildningstypID" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="BoxEventPart">
    <xs:complexContent>
      <xs:extension base="base:BaseEntitet">
        <xs:sequence>
          <xs:element name="Boxtyp" type="ui:BoxtypEventPart"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UtbildningstillfallesboxEventBox">
    <xs:complexContent>
      <xs:extension base="ui:BoxEventPart">
        <xs:sequence>
          <xs:element minOccurs="0" name="Acceptansperiod" type="base:Datumperiod"/>
          <xs:element name="Antagningsforfarande" type="base:Antagningsforfarande"/>
          <xs:element name="UtbildningstillfalleUID" type="xs:string"/>
          <xs:element name="UtbildningstypID" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ValboxEventPart">
    <xs:complexContent>
      <xs:extension base="ui:BoxEventPart">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Innehall" type="ui:BoxEventPart"/>
          <xs:element name="Valperiod" type="base:Datumperiod"/>
          <xs:element name="Valregel" type="base:Valregel"/>
          <xs:element name="ValregelEventPart" type="ui:ValregelEventPart"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType abstract="true" name="ValregelEventPart">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="ValjXRegelEventPart">
    <xs:complexContent>
      <xs:extension base="ui:ValregelEventPart">
        <xs:sequence>
          <xs:element name="Antal" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ValjOmfattningRegelEventPart">
    <xs:complexContent>
      <xs:extension base="ui:ValregelEventPart">
        <xs:sequence>
          <xs:element minOccurs="0" name="Omfattning" type="xs:decimal"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType abstract="true" name="KurspaketeringstillfalleEvent">
    <xs:complexContent>
      <xs:extension base="ui:TillfallesbasEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="AlternativaBenamningar" type="base:Benamningar"/>
          <xs:element minOccurs="0" name="AntagningTillSenareDel" type="xs:boolean"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Tillfallesperioder" type="ui:Tillfallesperiod"/>
          <xs:element minOccurs="0" name="SpecificeratOmfattningsvarde" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UtbildningstillfalleInstalltEvent">
    <xs:complexContent>
      <xs:extension base="events:BaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="UtbildningstillfalleUID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UtbildningsinstansPaUtbildningstillfalleAndradEvent">
    <xs:complexContent>
      <xs:extension base="events:BaseEvent">
        <xs:sequence>
          <xs:element name="UtbildningsinstansUid" type="xs:string"/>
          <xs:element name="UtbildningstillfalleUid" type="xs:string"/>
          <xs:element name="Utbildningstillfallesgrundtyp" type="base:Utbildningsgrundtyp"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ExternPartEventPart">
    <xs:sequence>
      <xs:element name="ExternPartID" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="KurspaketeringstillfalleTillStatusEvent">
    <xs:complexContent>
      <xs:extension base="ui:KurspaketeringstillfalleEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UtbildningsmallPubliceradEvent">
    <xs:complexContent>
      <xs:extension base="events:BaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="UtbildningsmallUID" type="xs:string"/>
          <xs:element name="UtbildningstypID" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType abstract="true" name="AbstraktStrukturEvent">
    <xs:complexContent>
      <xs:extension base="events:BaseEvent">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Innehall" type="ui:BoxEventPart"/>
          <xs:element name="StrukturUID" type="xs:string"/>
          <xs:element name="UtbildningsbasUID" type="xs:string"/>
          <xs:element name="UtbildningstypID" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType abstract="true" name="KurspaketeringEvent">
    <xs:complexContent>
      <xs:extension base="ui:UtbildningsinstansbasEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="Bevisbenamningar" type="ui:BevisbenamningarEventPart"/>
          <xs:element minOccurs="0" name="ExternPartID" type="xs:int"/>
          <xs:element minOccurs="0" name="TilltradesnivaID" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="BevisbenamningarEventPart">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="BevisbenamningUID" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="StrukturEvent">
    <xs:complexContent>
      <xs:extension base="ui:AbstraktStrukturEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="BoxPubliceradEvent">
    <xs:complexContent>
      <xs:extension base="events:BaseEvent">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="Innehall" type="ui:BoxEventPart"/>
          <xs:element name="StrukturUID" type="xs:string"/>
          <xs:element name="UtbildningsbasUID" type="xs:string"/>
          <xs:element name="UtbildningstypID" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ModulTillStatusEvent">
    <xs:complexContent>
      <xs:extension base="ui:ModulEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UtbildningsomradeFordelningEventPart">
    <xs:sequence/>
    <xs:attribute name="Procent" type="xs:int" use="required"/>
    <xs:attribute name="UtbildningsomradeID" type="xs:int" use="required"/>
  </xs:complexType>

  <xs:complexType name="StrukturIStatus2">
    <xs:complexContent>
      <xs:extension base="ui:AbstraktStrukturEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="KursUppdateradEvent">
    <xs:complexContent>
      <xs:extension base="ui:KursEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="KurspaketeringUppdateradEvent">
    <xs:complexContent>
      <xs:extension base="ui:KurspaketeringEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ModulUppdateradEvent">
    <xs:complexContent>
      <xs:extension base="ui:ModulEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="KurspaketeringstillfalleUppdateratEvent">
    <xs:complexContent>
      <xs:extension base="ui:KurspaketeringstillfalleEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="KurstillfalleTillStatusEvent">
    <xs:complexContent>
      <xs:extension base="ui:KurstillfalleEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="KurspaketeringTillStatusEvent">
    <xs:complexContent>
      <xs:extension base="ui:KurspaketeringEvent">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UtbildningAvveckladEvent">
    <xs:complexContent>
      <xs:extension base="events:BaseEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="UtbildningUID" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="BoxtypEventPart">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UTBILDNING"/>
      <xs:enumeration value="VAL"/>
      <xs:enumeration value="UTBILDNINGSTILLFALLE"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
